html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }

.dropdown-toggle-login::after {
    display: inline-block;
    width: 10px;
    height: auto;
    margin-left: 0.2em;
    vertical-align: .1em;
    content: "\f29e";
    font-family: "Ionicons";
    font-size: 14px;
    border: 0;
}

.text-white {
    color: #FFF !important;
}

div.hero {
    background-image: url('/assets/images/backgrounds/png/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

div.hero-mobile {
    background-image: url('/assets/images/backgrounds/png/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-mobile-heading{
    font-size: 1.8rem;
}

.hero-mobile-subheading{
    font-size: 1.3rem;
}

.noUi-handle {
    background-color: #FFF !important;
    width: 1rem !important;
    height: 1rem !important;
    top: -7px !important;
    left: -1px !important;
}

.btn-rs,
.btn-rs-submit {
    padding: .5rem 4.5rem;
    font-size: 1rem;
    margin: 0 0 1rem 0;
}

.btn-rs-mobile,
.btn-rs-submit-mobile {
    padding: .5rem 3rem !important;
    font-size: 1rem !important;
    margin: 0 0 1rem 0 !important;
}

.input-slider-container>.row>label,
.input-slider-container>.row>label>.range-slider-value {
    font-size: 1rem;
}

.card-anuncio-title {
    font-size: 1.1rem;
    padding: .5rem 1rem 0 !important;
    border-bottom: none !important;
}

.card-anuncio-body {
    font-size: .975rem;
    padding: .5rem 1rem !important;
}

.truncate-1-lines {
    -webkit-line-clamp: 1 !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    white-space: nowrap;
}

.truncate-1-lines::after {
    content: '...';
}

.truncate-2-lines {
    -webkit-line-clamp: 3 !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    white-space: nowrap;
}

.truncate-2-lines::after {
    content: '...';
}

.slick-slide {
    margin: 0 1rem 0 1rem;
}

.carousel-responsive {
    display: none;
}

.dropdown-menu .dropdown-item>i {
    margin-right: 1rem;
    font-size: 1rem;
}

.navbar-nav .dropdown-menu .dropdown-item {
    font-size: .9rem;
    font-weight: 400;
    text-transform: capitalize;
    color: #444;
}

.autocomplete-suggestions {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
    background: #FFF;
    cursor: default;
    overflow: auto;
    -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-suggestion:hover {
    background-color: #3452ff;
    color: #EFEFEF !important;
}

.autocomplete-no-suggestion {
    padding: 2px 5px;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: bold;
    color: #333;
}

.autocomplete-group {
    padding: 2px 5px;
    font-weight: bold;
    font-size: 16px;
    color: #000;
    display: block;
    border-bottom: 1px solid #000;
}

label.is-invalid {
    margin: 0;
    text-align: center;
    color: #dc3545;
}

.block.block--style-3.premium {
    background-color: #333 !important;
    color: #FFF !important;
}

.block--style-3.premium ul.aux-info li {
    color: #FFF !important;
}

.block--style-3.premium .heading>a {
    color: #FFF !important;
}

.block--style-3.premium .heading>a:hover {
    color: gold !important;
}

.block--style-3.premium .block-price {
    color: gold;
}

.block--style-3 .block-price-text {
    color: #3452ff;
    font-weight: bold;
}

.block--style-3.premium .block-price-text {
    color: gold;
    font-weight: bold;
}

.badge-corner-gold {
    border-top-color: gold;
}

.block--style-3 ul.aux-info li {
    color: #111;
}

.block--style-3 ul.aux-info li i.inactive {
    color: #D0D0D0;
}

.block--style-3.premium ul.aux-info li i.inactive {
    color: #555;
}

.nav-filters {
    width: 80%;
}

.nav-views {
    width: 20%;
}

ul.views,
ul.list-view-sublist {
    list-style: none;
    margin: 0 auto;
    font-size: .925rem;
    width: 100%;
    display: block;
    padding: 0;
}

ul.list-view-sublist {
    display: inline-flex;
    width: auto;
    float: right;
}

ul.views>li>a,
ul.list-view-sublist>li>a {
    color: #333 !important;
    margin-right: 2rem;
}

ul.list-view-sublist>li>a:hover,
ul.list-view-sublist>li>a.active {
    color: #3452ff !important;
    margin-right: 2rem;
}