.slice{
    padding: 1rem 0;
}

.anuncio-title h1{
    font-weight: bold !important;
    color: #3452ff;
}

.anunciante-foto{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.anunciante-foto>img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.list-group-item {
    padding: .5rem 1rem;
    border: 0;
    border-bottom: 1px solid rgba(243,243,243,0.7);
    color: #818a91;
    font-size: .875rem;
    margin-bottom: 0;
}