.filters-section-header{
	border-bottom: 1px solid @border-gray;
	position: relative;

	h3{
		text-transform: uppercase;
		font-family: 'semibold';
		font-size: @large-text;
		margin: 10px 0;
	}

	.close{
		position: absolute;
		top: 0;
		right: 0;
	}

	.glyphicon{
		color: @blue-dark;
	}

}

.filters-section{
	
	position: relative;

	
	h4{
		text-transform: uppercase;
        font-family: 'semibold';
        line-height: 2em;
		font-size:@normal-text;
        border-bottom: 1px solid @border-gray;
        color: @gray-dark;
	}
	

	.equipment-filters{
		font-size: @xsmall-text;
		.columns(2);
		input{
			margin-right: 3px;
		}
	}

    .input-group{
        position: relative;
        display: inline-block;
        border-collapse: separate;
        width: 93%;
    }

}