
@main-gray: #414041;
@gray-dark: #231f20;
@gray-medium: #535353;
@main-item-gray: #e5e5e4;

@expired-blue: #697bbc;
@main-blue: #273d8c;
@blue-dark: #223080;

@color-red: #ef4332;

@main-aqua: #3b9db0;
@main-dark-aqua: #1a899e;

/*****/

@color-blue-banner: #344fa1;
@color-pagination: #5db7c9;
@color-pagination-active: #0e7284;
@gray-light: #cccccc;
@border-gray: #B0B0B0;

@color-filter-red: #EB4628;
@color-filter-yellow: #D39800;
@color-filter-green: #2EA439;



/*Text*/
@xsmall-text: 11px;
@small-text: 12px;
@medium-text: 13px;
@normal-text: 14px;
@subtitle-text: 16px;
@large-text: 18px;
@xlarge-text: 20px;
@h2: 24px;


/* Mixins */

.large-btn{
    width: 80%;
    margin: 15px auto;
}

.border-radius(@radius){
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;	
}

.round-btn(@color){
	color: @color;
	background-color: transparent !important;
    padding: 0px 4px;
    font-size: @h2;
    width: 32px;
    height: 32px;
    margin: 0 10px;
    .border-radius(100%);
    &, &:hover, &:focus, &:active{
    	border: 1px solid @color;
    }

    &:focus{
    	outline: 0;
    }
}

.columns(@columnas){
     -webkit-column-count: @columnas; /* Chrome, Safari, Opera */
    -moz-column-count: @columnas; /* Firefox */
    column-count: @columnas;
}





