@import "_variables";



@font-face {
    font-family: 'regular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'bold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'light';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'extrabold';
    src: url('../fonts/opensans-extrabold-webfont.eot');
    src: url('../fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
         url('../fonts/opensans-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'semibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}



section{
	margin: 20px 0;
}

p{
	font-size: @normal-text;
}


.light-txt{
	font-family: 'light';
}

.bold-txt{
	font-family: 'bold';
}

.semibold-txt{
	font-family: 'semibold';
}


.text-normal{
	text-transform: none !important;
}

.no-padding{
	padding: 0;
}

.no-margin{
	margin: 0; 
}

.mb-20{
	margin-bottom: 20px !important;
}

.mt-20{
	margin-top: 20px !important;
}

.h2{
	font-size: @h2;
	text-transform: uppercase;
	margin: 0 !important;

}

.subtitle-txt{
	border-bottom: 1px solid @border-gray;
    font-family: 'bold';
    font-size: 24px;
    text-transform: uppercase;
    display: block;
    padding: 10px 0 10px;
	font-size: @h2;
	text-transform: uppercase;	
	
	h1, h2, h3,h4, h5, h6{
		margin:0;
		display:inline-block;
	}
}

.binding{
	span{
		display: inline-block !important;
	}
}

.btn{
	text-transform: uppercase;
    white-space: normal;
}

.btn.btn-aqua {
    color: white ;
    background-color: @main-aqua;
    border-color: @main-dark-aqua;
    font-family: 'bold' ;
    font-size: @medium-text ;
    display: block ;
	padding: 10px 30px ;
	cursor: pointer;

    &:hover, &:active, &:focus{
		background-color: @main-dark-aqua;
		color: white ;
    }

    &.btn-aqua-inline{
    	font-size: @normal-text ;
    	padding: 3px 5px ;
    	display: inline-block ;
		margin: 0 5px;
		width:inherit !important;
	}
	&.md{
		padding: 10px 15px !important;
	}
}

.btn.btn-white{
	color: @main-aqua ;
	background-color: white;
	cursor: pointer;
	border-color: @main-aqua;
	font-family: 'light' ;
    font-size: @medium-text ;
    margin: 0 5px;
    padding: 3px 5px ;
    display: inline-block ;
}

.btn.btn-white-black{
	color: @gray-medium;
	background-color: white;
	cursor: pointer;
	border-color: @gray-medium;
	font-family: 'light' ;
    font-size: @medium-text ;
    margin: 0 5px 20px;
    padding: 3px 20px ;
    display: inline-block ;
	.border-radius(8px);
	&.md{
		padding: 10px 15px !important;
	}
}

.btn-blue{
	font-size: @subtitle-text;
	font-family: 'semibold';
	text-transform: uppercase;
	background: @main-blue;
	padding: 4px;
	text-align: center;
	cursor: pointer;
	.border-radius(6px);
	
	display: block;

	&, &:hover, &:focus, &:active{
		color:white;
		background: @blue-dark;
	}

	&.expired{
		background: @expired-blue;
	}
}


.inner-btns{
	margin-top: 10px;
	
	.btn{
		font-family: 'light';
		margin: 13px 0;

		&:last-child{
			margin-bottom: 0;
		}
	}
}

.google-advertise{
	margin-bottom: 40px;
	max-width: 280px;
    margin: 20px auto;

	&:before, &:after{
	    content: " ";
    	display: table;
	}	

	&:after{
	    clear: both;
	}

	.square-advertise{
		background: @main-gray;
		width:100%;
		min-height: 263px;
	}

	.advertise-caption{
		.border-radius(3px);
		border: 1px solid @main-gray;
		float: right;
		max-width: 185px;
		margin-top: -2px;

		a{
			color: @gray-medium;
			text-decoration: underline;
			font-size: @xsmall-text;
			font-family: 'light';
		    text-align: right;
			display: block;
			padding: 1px 8px;
		}
	}
}

.order-container{
	margin-bottom: 15px;
	font-family: 'light';
	*{
		font-size: @subtitle-text;	
	}
	

	select{
		width:60%;
		display: inline-block;
	}

	.label{
		margin-right: 10px;
	}
}

.main-items-container{
	margin-top: 32px;
	margin-bottom: 32px;
}


.main-item{
	.border-radius(4px);
	max-width: 180px;
	color: white;
	margin: auto;
	margin-bottom: 20px;

	.highlight-ribbon{
		display: none;
		position: absolute;
		top: -16px;
    	left: 10px;

		span{
		    clear: both;
		    position: relative;
		    color: #fff;
		    background: @color-red;
		    font-size: 9px;
		    margin: 0 -20px 20px -20px;
		    padding: 0 13px;
		    text-transform: uppercase;
		    font-family: 'semibold';
		    z-index: 1;

			&:before{
			    content: " ";
			    display: block;
			    width: 0;
			    height: 0;
			    position: absolute;
			    top: -9px;
			    left: 0;
			    z-index: -1;
			    position: absolute;
			    border-bottom: 10px solid #f4877b;
			    border-left: 7px solid transparent;
			    background: transparent;
			}

			&:after{
			    content: '';
			    position: absolute;
			    display: block;
			    border: 6px solid @color-red;
			    right: -1.3em;
			    border-left-width: 1.5em;
			    border-right-color: transparent;
			    bottom: 0;
			    z-index: -1;
			    
			}
		}

	}

	&.full-item{
		max-width: 100%;
		width: 100%;

		.highlight-ribbon{
			left: 13px;
    		top: 22px;
		}

		&.highlight{
			.main-item-top{
				background: @main-aqua;	
				overflow: visible;
			}

			.main-item-content{
				.main-item-inner{
					.round-btn{
						.round-btn(white);
					}

					.slick-prev, .slick-next{
						&, &:before{
							color: white;
						}
						border-color: white;
					}
				}
			}		
		}

		&.gray{
			.main-item-content{
				.main-item-inner{
					.round-btn{
						.round-btn(@main-gray);
					}

					.slick-prev, .slick-next{
						&, &:before{
							color: @main-gray;
						}
						border-color: @main-gray;
					}
				}
			}	
		}



		.main-item-top{
			height: 35px;
			padding: 5px 7px;
		}

		.main-item-content{
			padding: 3px;

			.main-item-inner{
				position: relative;
				text-align: left;
				.border-radius(0 0 4px 4px);
				
				img{
					margin-top: 4px;
				}

				p{
					font-family: 'light';
					margin: 0;
				}

				.item-length{
					font-family: 'regular';
				}
				.item-published{
					p{
						font-size: @xsmall-text;
					}
				}
				.item-info {
					span{
						text-align: left;	
					}
					
				}

				.btn-blue{
					width: 180px;
					margin-right: 25px;
				}

				.round-btn{
					.round-btn(@main-aqua);
					margin: 0 !important;
				}

				.slick-prev, .slick-next{
				    margin: 5px 0 0;
			        display: inline-block !important;
			        position: relative;
			        border-color: @main-aqua;
			        &, &:before{
			        	color: @main-aqua;
			        }
				}

				.slick-next{
					float: right;
				}

				.slick-prev{
					float: left;
				}


			}
		}
		
	}

	&.highlight{

		.highlight-ribbon{
			display: block;
		}

		.main-item-top{
			background: @main-dark-aqua;
		}
		.main-item-content{
			.main-item-inner{
				background: @main-aqua;
				color: white;
			}
		}
	}

	&.gray{
		color: @main-gray;
		.main-item-top, .main-item-content{
			background: @main-item-gray;
		}
	}

	.main-item-top{
		position: relative;
		height: 50px;
		padding: 13px 7px 13px 7px;
		background: @main-aqua;
		text-transform: uppercase;
		width: 100%;
		line-height: 18px;
		overflow: hidden;

		p{
			font-size: @normal-text;
			font-family: 'semibold';
			text-overflow: ellipsis;
    		overflow: hidden;
    		white-space: nowrap;
		}
	}

	.main-item-content{
		width:100%;
		height: 100%;
		background: @main-aqua;
		padding: 3px;
		
		
		img{
			width: 100%;
    		max-height: 95px;
			margin-bottom: 5px;
		}

		.main-item-inner{
			position: relative;
			padding: 7px 4px 10px;
			width: 100%;
			height: 100%;
			color: @main-gray;
			background: @main-item-gray;
		}
	}

	.item-location{
		font-size: @normal-text;
		font-family: 'semibold';
		text-transform: uppercase;
		margin-bottom: 7px;

		span{
			display: inline-block;
			vertical-align: bottom;
		}
		.glyphicon{
			font-size: 20px;
		}
	}

	.item-info{
		font-size: @large-text;
		font-family: 'semibold';

		span{
			display: block;
			text-align: right;
		}

	}

	.btn-blue{
		position: relative;
		width: 100%;
		margin-top: -5px;
	}

}


.form-control{
	font-family: 'light' !important;
	border: 1px solid @border-gray ;
}

.form-group{
	margin-bottom: 5px;

	label{
		font-size: @normal-text;
		font-family: 'light' !important;
	}
}

form.ng-submitted{
	.ng-invalid{
		border-color: #a94442 !important;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	}
}


.pagination{
	>li{
		>a{
			cursor: pointer;
		}
	}

	&.original-style{
		>li{
			>a{
				border-color: @border-gray;
				color: @main-gray;
				font-family: 'light';

				&:hover, &:focus, &:active{
					background-color: @main-aqua;
					color: white;
				}
			}
		}
	}

	&.round-style{
		>li{
			>a{
				.border-radius(100%) !important;	
				height: 22px;
				width: 22px;
				margin: 5px 6px;
				padding: 0;
			}
		}
		.indicators{
		    .round-btn(@main-blue);
		}

		.first{
			
			&, &:hover, &:focus, &:active{
				background: @color-pagination-active;	
			}
		}

		.rest{
			&, &:hover, &:focus, &:active{
				background: @color-pagination;
			}
			
		}
	}
	
}

.search-form{
	margin-bottom: 25px;
	.border-radius(4px);
	border: 1px solid @main-aqua;
	padding:20px;

	.form-title{
		font-size: @subtitle-text;
		margin: 0 0 23px;
		text-transform: uppercase;
		font-family: 'bold';
		text-align: center;
	}

	.btn-aqua{
		width: 100%;
	}

	label{
		//display: none;
		font-family: 'light';
		font-size: @xsmall-text;
	}

	.input-group {
		display: block;

		input{
			width: 50%;
			text-transform: uppercase;
			font-family: 'bold' !important;
			color: @border-gray;
			background: white !important;

			&.active{
				color: @main-dark-aqua;
			}

			&.disabled{
				color: @border-gray;
			}

			&:focus{
				box-shadow: none;
				border-color: @border-gray;
			}
		}
	}
}


.breadcrumb{
	background-color: transparent;
	margin: 0;
	padding: 0;

	a{
		color: @main-gray;
	    font-size: @normal-text;

	    .glyphicon-home{
	    	color:@blue-dark;
	    }
	}

	>li+li{
		&:before{
			color: @main-gray;
		}
	}
}

.form-error{
	span{
		font-family: 'semibold';
		font-size: @xsmall-text;
		display: block;
	}
}

textarea{
	min-height: 95px;
}


.full-width{
	width:100%;
}

.filters-container{
	width: 80px;
    position: absolute;
    left: -90px;

    .filter-cont{
    	margin-bottom: 20px;
    	position: relative;

    	>span{
    		font-size: @small-text;
    		font-family: 'bold';
    		display: block;
    		text-align: center;
    		margin-top: 3px;
    	}	
    }
}

.filter-icon{
	width:48px;
	height: 48px;
	margin:auto;
	.border-radius(100%);
	cursor: pointer;
	color:white !important;
	font-family: 'bold';
	text-align: center;
	text-transform: uppercase;
	font-size: 32px;

	&.big-icon{
		width: 78px;
		height: 78px;
		padding: 10px;
		font-size: @xsmall-text;
	}

	.glyphicon{
		display: block;
		font-size: 40px;
	}

	sup {
	    top: -1.2em;
	    font-size: 11px;
	}
}

.filter-red{
	.filter-icon{
		background: @color-filter-red;	
		padding: 5px;
		.glyphicon{
			font-size: 30px;
		}
	}
	color: @color-filter-red;
}

.filter-yellow{
	.filter-icon{
		background: @color-filter-yellow;	
		font-size: 25px;
		padding: 5px;
	}
	color: @color-filter-yellow;
}

.filter-green{
	.filter-icon{
		background: @color-filter-green;	
	}
	color: @color-filter-green;
}

.filter-blue{
	.filter-icon{
		background: @blue-dark;
	}
	color: @blue-dark;
}


.filter-aqua{
	.filter-icon{
		background: @main-aqua;
		padding: 5px;

		.glyphicon{
			font-size: 32px;
		}
	}
	color: @main-aqua;
}

button.close{
	position: relative;
	z-index: 1;
}

.modal-content{
	padding: 10px;
}


.editForm{
	.btn.btn-aqua{
		.large-btn;
	}
}

.rounded-btn{
	background-color: @main-aqua !important;
    color: #FFFFFF;
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
    padding: 8px 12px;
    margin-left: -5px;
    border: 0;
    position: absolute;
    z-index: 2;
    right: -20px;
	top: -3px;
	cursor: pointer;

	&::before{
		color:#FFFFFF;
		font-size:20px
	}
}

.cursor-pointer{
	cursor: pointer;
}