/*****/
/*Text*/
/* Mixins */
.large-btn {
  width: 80%;
  margin: 15px auto;
}
@font-face {
  font-family: 'regular';
  src: url('../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bold';
  src: url('../fonts/opensans-bold-webfont.eot');
  src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-bold-webfont.woff2') format('woff2'), url('../fonts/opensans-bold-webfont.woff') format('woff'), url('../fonts/opensans-bold-webfont.ttf') format('truetype'), url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'light';
  src: url('../fonts/opensans-light-webfont.eot');
  src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-light-webfont.woff2') format('woff2'), url('../fonts/opensans-light-webfont.woff') format('woff'), url('../fonts/opensans-light-webfont.ttf') format('truetype'), url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'extrabold';
  src: url('../fonts/opensans-extrabold-webfont.eot');
  src: url('../fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'), url('../fonts/opensans-extrabold-webfont.woff') format('woff'), url('../fonts/opensans-extrabold-webfont.ttf') format('truetype'), url('../fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'semibold';
  src: url('../fonts/opensans-semibold-webfont.eot');
  src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-semibold-webfont.woff2') format('woff2'), url('../fonts/opensans-semibold-webfont.woff') format('woff'), url('../fonts/opensans-semibold-webfont.ttf') format('truetype'), url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
section {
  margin: 20px 0;
}
p {
  font-size: 14px;
}
.light-txt {
  font-family: 'light';
}
.bold-txt {
  font-family: 'bold';
}
.semibold-txt {
  font-family: 'semibold';
}
.text-normal {
  text-transform: none !important;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.h2 {
  font-size: 24px;
  text-transform: uppercase;
  margin: 0 !important;
}
.subtitle-txt {
  border-bottom: 1px solid #B0B0B0;
  font-family: 'bold';
  display: block;
  padding: 10px 0 10px;
  font-size: 24px;
  text-transform: uppercase;
}
.subtitle-txt h1,
.subtitle-txt h2,
.subtitle-txt h3,
.subtitle-txt h4,
.subtitle-txt h5,
.subtitle-txt h6 {
  margin: 0;
  display: inline-block;
}
.binding span {
  display: inline-block !important;
}
.btn {
  text-transform: uppercase;
  white-space: normal;
}
.btn.btn-aqua {
  color: white ;
  background-color: #3b9db0;
  border-color: #1a899e;
  font-family: 'bold';
  font-size: 13px;
  display: block ;
  padding: 10px 30px ;
  cursor: pointer;
}
.btn.btn-aqua:hover,
.btn.btn-aqua:active,
.btn.btn-aqua:focus {
  background-color: #1a899e;
  color: white ;
}
.btn.btn-aqua.btn-aqua-inline {
  font-size: 14px;
  padding: 3px 5px ;
  display: inline-block;
  margin: 0 5px;
  width: inherit !important;
}
.btn.btn-aqua.md {
  padding: 10px 15px !important;
}
.btn.btn-white {
  color: #3b9db0;
  background-color: white;
  cursor: pointer;
  border-color: #3b9db0;
  font-family: 'light';
  font-size: 13px;
  margin: 0 5px;
  padding: 3px 5px ;
  display: inline-block;
}
.btn.btn-white-black {
  color: #535353;
  background-color: white;
  cursor: pointer;
  border-color: #535353;
  font-family: 'light';
  font-size: 13px;
  margin: 0 5px 20px;
  padding: 3px 20px ;
  display: inline-block;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.btn.btn-white-black.md {
  padding: 10px 15px !important;
}
.btn-blue {
  font-size: 16px;
  font-family: 'semibold';
  text-transform: uppercase;
  background: #273d8c;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  display: block;
}
.btn-blue,
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active {
  color: white;
  background: #223080;
}
.btn-blue.expired {
  background: #697bbc;
}
.inner-btns {
  margin-top: 10px;
}
.inner-btns .btn {
  font-family: 'light';
  margin: 13px 0;
}
.inner-btns .btn:last-child {
  margin-bottom: 0;
}
.google-advertise {
  margin-bottom: 40px;
  max-width: 280px;
  margin: 20px auto;
}
.google-advertise:before,
.google-advertise:after {
  content: " ";
  display: table;
}
.google-advertise:after {
  clear: both;
}
.google-advertise .square-advertise {
  background: #414041;
  width: 100%;
  min-height: 263px;
}
.google-advertise .advertise-caption {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #414041;
  float: right;
  max-width: 185px;
  margin-top: -2px;
}
.google-advertise .advertise-caption a {
  color: #535353;
  text-decoration: underline;
  font-size: 11px;
  font-family: 'light';
  text-align: right;
  display: block;
  padding: 1px 8px;
}
.order-container {
  margin-bottom: 15px;
  font-family: 'light';
}
.order-container * {
  font-size: 16px;
}
.order-container select {
  width: 60%;
  display: inline-block;
}
.order-container .label {
  margin-right: 10px;
}
.main-items-container {
  margin-top: 32px;
  margin-bottom: 32px;
}
.main-item {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  max-width: 180px;
  color: white;
  margin: auto;
  margin-bottom: 20px;
}
.main-item .highlight-ribbon {
  display: none;
  position: absolute;
  top: -16px;
  left: 10px;
}
.main-item .highlight-ribbon span {
  clear: both;
  position: relative;
  color: #fff;
  background: #ef4332;
  font-size: 9px;
  margin: 0 -20px 20px -20px;
  padding: 0 13px;
  text-transform: uppercase;
  font-family: 'semibold';
  z-index: 1;
}
.main-item .highlight-ribbon span:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  top: -9px;
  left: 0;
  z-index: -1;
  position: absolute;
  border-bottom: 10px solid #f4877b;
  border-left: 7px solid transparent;
  background: transparent;
}
.main-item .highlight-ribbon span:after {
  content: '';
  position: absolute;
  display: block;
  border: 6px solid #ef4332;
  right: -1.3em;
  border-left-width: 1.5em;
  border-right-color: transparent;
  bottom: 0;
  z-index: -1;
}
.main-item.full-item {
  max-width: 100%;
  width: 100%;
}
.main-item.full-item .highlight-ribbon {
  left: 13px;
  top: 22px;
}
.main-item.full-item.highlight .main-item-top {
  background: #3b9db0;
  overflow: visible;
}
.main-item.full-item.highlight .main-item-content .main-item-inner .round-btn {
  color: white;
  background-color: transparent !important;
  padding: 0px 4px;
  font-size: 24px;
  width: 32px;
  height: 32px;
  margin: 0 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.main-item.full-item.highlight .main-item-content .main-item-inner .round-btn,
.main-item.full-item.highlight .main-item-content .main-item-inner .round-btn:hover,
.main-item.full-item.highlight .main-item-content .main-item-inner .round-btn:focus,
.main-item.full-item.highlight .main-item-content .main-item-inner .round-btn:active {
  border: 1px solid white;
}
.main-item.full-item.highlight .main-item-content .main-item-inner .round-btn:focus {
  outline: 0;
}
.main-item.full-item.highlight .main-item-content .main-item-inner .slick-prev,
.main-item.full-item.highlight .main-item-content .main-item-inner .slick-next {
  border-color: white;
}
.main-item.full-item.highlight .main-item-content .main-item-inner .slick-prev,
.main-item.full-item.highlight .main-item-content .main-item-inner .slick-next,
.main-item.full-item.highlight .main-item-content .main-item-inner .slick-prev:before,
.main-item.full-item.highlight .main-item-content .main-item-inner .slick-next:before {
  color: white;
}
.main-item.full-item.gray .main-item-content .main-item-inner .round-btn {
  color: #414041;
  background-color: transparent !important;
  padding: 0px 4px;
  font-size: 24px;
  width: 32px;
  height: 32px;
  margin: 0 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.main-item.full-item.gray .main-item-content .main-item-inner .round-btn,
.main-item.full-item.gray .main-item-content .main-item-inner .round-btn:hover,
.main-item.full-item.gray .main-item-content .main-item-inner .round-btn:focus,
.main-item.full-item.gray .main-item-content .main-item-inner .round-btn:active {
  border: 1px solid #414041;
}
.main-item.full-item.gray .main-item-content .main-item-inner .round-btn:focus {
  outline: 0;
}
.main-item.full-item.gray .main-item-content .main-item-inner .slick-prev,
.main-item.full-item.gray .main-item-content .main-item-inner .slick-next {
  border-color: #414041;
}
.main-item.full-item.gray .main-item-content .main-item-inner .slick-prev,
.main-item.full-item.gray .main-item-content .main-item-inner .slick-next,
.main-item.full-item.gray .main-item-content .main-item-inner .slick-prev:before,
.main-item.full-item.gray .main-item-content .main-item-inner .slick-next:before {
  color: #414041;
}
.main-item.full-item .main-item-top {
  height: 35px;
  padding: 5px 7px;
}
.main-item.full-item .main-item-content {
  padding: 3px;
}
.main-item.full-item .main-item-content .main-item-inner {
  position: relative;
  text-align: left;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.main-item.full-item .main-item-content .main-item-inner img {
  margin-top: 4px;
}
.main-item.full-item .main-item-content .main-item-inner p {
  font-family: 'light';
  margin: 0;
}
.main-item.full-item .main-item-content .main-item-inner .item-length {
  font-family: 'regular';
}
.main-item.full-item .main-item-content .main-item-inner .item-published p {
  font-size: 11px;
}
.main-item.full-item .main-item-content .main-item-inner .item-info span {
  text-align: left;
}
.main-item.full-item .main-item-content .main-item-inner .btn-blue {
  width: 180px;
  margin-right: 25px;
}
.main-item.full-item .main-item-content .main-item-inner .round-btn {
  color: #3b9db0;
  background-color: transparent !important;
  padding: 0px 4px;
  font-size: 24px;
  width: 32px;
  height: 32px;
  margin: 0 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  margin: 0 !important;
}
.main-item.full-item .main-item-content .main-item-inner .round-btn,
.main-item.full-item .main-item-content .main-item-inner .round-btn:hover,
.main-item.full-item .main-item-content .main-item-inner .round-btn:focus,
.main-item.full-item .main-item-content .main-item-inner .round-btn:active {
  border: 1px solid #3b9db0;
}
.main-item.full-item .main-item-content .main-item-inner .round-btn:focus {
  outline: 0;
}
.main-item.full-item .main-item-content .main-item-inner .slick-prev,
.main-item.full-item .main-item-content .main-item-inner .slick-next {
  margin: 5px 0 0;
  display: inline-block !important;
  position: relative;
  border-color: #3b9db0;
}
.main-item.full-item .main-item-content .main-item-inner .slick-prev,
.main-item.full-item .main-item-content .main-item-inner .slick-next,
.main-item.full-item .main-item-content .main-item-inner .slick-prev:before,
.main-item.full-item .main-item-content .main-item-inner .slick-next:before {
  color: #3b9db0;
}
.main-item.full-item .main-item-content .main-item-inner .slick-next {
  float: right;
}
.main-item.full-item .main-item-content .main-item-inner .slick-prev {
  float: left;
}
.main-item.highlight .highlight-ribbon {
  display: block;
}
.main-item.highlight .main-item-top {
  background: #1a899e;
}
.main-item.highlight .main-item-content .main-item-inner {
  background: #3b9db0;
  color: white;
}
.main-item.gray {
  color: #414041;
}
.main-item.gray .main-item-top,
.main-item.gray .main-item-content {
  background: #e5e5e4;
}
.main-item .main-item-top {
  position: relative;
  height: 50px;
  padding: 13px 7px 13px 7px;
  background: #3b9db0;
  text-transform: uppercase;
  width: 100%;
  line-height: 18px;
  overflow: hidden;
}
.main-item .main-item-top p {
  font-size: 14px;
  font-family: 'semibold';
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.main-item .main-item-content {
  width: 100%;
  height: 100%;
  background: #3b9db0;
  padding: 3px;
}
.main-item .main-item-content img {
  width: 100%;
  max-height: 95px;
  margin-bottom: 5px;
}
.main-item .main-item-content .main-item-inner {
  position: relative;
  padding: 7px 4px 10px;
  width: 100%;
  height: 100%;
  color: #414041;
  background: #e5e5e4;
}
.main-item .item-location {
  font-size: 14px;
  font-family: 'semibold';
  text-transform: uppercase;
  margin-bottom: 7px;
}
.main-item .item-location span {
  display: inline-block;
  vertical-align: bottom;
}
.main-item .item-location .glyphicon {
  font-size: 20px;
}
.main-item .item-info {
  font-size: 18px;
  font-family: 'semibold';
}
.main-item .item-info span {
  display: block;
  text-align: right;
}
.main-item .btn-blue {
  position: relative;
  width: 100%;
  margin-top: -5px;
}
.form-control {
  font-family: 'light' !important;
  border: 1px solid #B0B0B0;
}
.form-group {
  margin-bottom: 5px;
}
.form-group label {
  font-size: 14px;
  font-family: 'light' !important;
}
form.ng-submitted .ng-invalid {
  border-color: #a94442 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.pagination > li > a {
  cursor: pointer;
}
.pagination.original-style > li > a {
  border-color: #B0B0B0;
  color: #414041;
  font-family: 'light';
}
.pagination.original-style > li > a:hover,
.pagination.original-style > li > a:focus,
.pagination.original-style > li > a:active {
  background-color: #3b9db0;
  color: white;
}
.pagination.round-style > li > a {
  -webkit-border-radius: 100% !important;
  -moz-border-radius: 100% !important;
  border-radius: 100% !important;
  height: 22px;
  width: 22px;
  margin: 5px 6px;
  padding: 0;
}
.pagination.round-style .indicators {
  color: #273d8c;
  background-color: transparent !important;
  padding: 0px 4px;
  font-size: 24px;
  width: 32px;
  height: 32px;
  margin: 0 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.pagination.round-style .indicators,
.pagination.round-style .indicators:hover,
.pagination.round-style .indicators:focus,
.pagination.round-style .indicators:active {
  border: 1px solid #273d8c;
}
.pagination.round-style .indicators:focus {
  outline: 0;
}
.pagination.round-style .first,
.pagination.round-style .first:hover,
.pagination.round-style .first:focus,
.pagination.round-style .first:active {
  background: #0e7284;
}
.pagination.round-style .rest,
.pagination.round-style .rest:hover,
.pagination.round-style .rest:focus,
.pagination.round-style .rest:active {
  background: #5db7c9;
}
.search-form {
  margin-bottom: 25px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #3b9db0;
  padding: 20px;
}
.search-form .form-title {
  font-size: 16px;
  margin: 0 0 23px;
  text-transform: uppercase;
  font-family: 'bold';
  text-align: center;
}
.search-form .btn-aqua {
  width: 100%;
}
.search-form label {
  font-family: 'light';
  font-size: 11px;
}
.search-form .input-group {
  display: block;
}
.search-form .input-group input {
  width: 50%;
  text-transform: uppercase;
  font-family: 'bold' !important;
  color: #B0B0B0;
  background: white !important;
}
.search-form .input-group input.active {
  color: #1a899e;
}
.search-form .input-group input.disabled {
  color: #B0B0B0;
}
.search-form .input-group input:focus {
  box-shadow: none;
  border-color: #B0B0B0;
}
.breadcrumb {
  background-color: transparent;
  margin: 0;
  padding: 0;
}
.breadcrumb a {
  color: #414041;
  font-size: 14px;
}
.breadcrumb a .glyphicon-home {
  color: #223080;
}
.breadcrumb > li + li:before {
  color: #414041;
}
.form-error span {
  font-family: 'semibold';
  font-size: 11px;
  display: block;
}
textarea {
  min-height: 95px;
}
.full-width {
  width: 100%;
}
.filters-container {
  width: 80px;
  position: absolute;
  left: -90px;
}
.filters-container .filter-cont {
  margin-bottom: 20px;
  position: relative;
}
.filters-container .filter-cont > span {
  font-size: 12px;
  font-family: 'bold';
  display: block;
  text-align: center;
  margin-top: 3px;
}
.filter-icon {
  width: 48px;
  height: 48px;
  margin: auto;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  cursor: pointer;
  color: white !important;
  font-family: 'bold';
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
}
.filter-icon.big-icon {
  width: 78px;
  height: 78px;
  padding: 10px;
  font-size: 11px;
}
.filter-icon .glyphicon {
  display: block;
  font-size: 40px;
}
.filter-icon sup {
  top: -1.2em;
  font-size: 11px;
}
.filter-red {
  color: #EB4628;
}
.filter-red .filter-icon {
  background: #EB4628;
  padding: 5px;
}
.filter-red .filter-icon .glyphicon {
  font-size: 30px;
}
.filter-yellow {
  color: #D39800;
}
.filter-yellow .filter-icon {
  background: #D39800;
  font-size: 25px;
  padding: 5px;
}
.filter-green {
  color: #2EA439;
}
.filter-green .filter-icon {
  background: #2EA439;
}
.filter-blue {
  color: #223080;
}
.filter-blue .filter-icon {
  background: #223080;
}
.filter-aqua {
  color: #3b9db0;
}
.filter-aqua .filter-icon {
  background: #3b9db0;
  padding: 5px;
}
.filter-aqua .filter-icon .glyphicon {
  font-size: 32px;
}
button.close {
  position: relative;
  z-index: 1;
}
.modal-content {
  padding: 10px;
}
.editForm .btn.btn-aqua {
  width: 80%;
  margin: 15px auto;
}
.rounded-btn {
  background-color: #3b9db0 !important;
  color: #FFFFFF;
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
  padding: 8px 12px;
  margin-left: -5px;
  border: 0;
  position: absolute;
  z-index: 2;
  right: -20px;
  top: -3px;
  cursor: pointer;
}
.rounded-btn::before {
  color: #FFFFFF;
  font-size: 20px;
}
.cursor-pointer {
  cursor: pointer;
}
