@import "_variables";

body{
	color: @gray-medium !important;
	font-family: "regular", "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	letter-spacing: 0.5px;
}

header{
	padding: 10px 0;

	.btn-aqua{
		margin-top: 4.5px;
		float: right;
		width: 100%;
	}
}

footer{
	border-top: 1px solid @main-gray;
	padding: 15px 0;
	
	p,a{
		
		font-size: @subtitle-text;
		font-family: 'light';
		margin: 0;

		&, &:hover, &:focus, &:active{
			color: @main-gray;
		}
	}

	a{
		text-decoration: none;
		float: right;
	}
}
.nav-container{
	padding-top: 28.5px;
	padding-bottom: 28.5px;
	.btn.btn-aqua{
		font-size: @subtitle-text;
	}
}
.navbar-toggle{
	padding: 0;
	margin: 0;

	.icon-bar{
		width: 35px;
		height: 4px;
		margin: 7px 0;
		border-radius: 0;
		background-color: @main-gray;
	}
}
.top-navbar{
	
	.nav{
		>li{
			>a{
				color: @main-gray;
				font-family: 'bold';
				font-size: @subtitle-text;
			    padding: 10px 20px;
			    span{
			    	display: none;
			    	margin-right: 8px;
			    	font-size: @xsmall-text;
			    }
			}
		}
	}
}

.search-ul{
	border-top:1px solid @border-gray;
	border-bottom:1px solid @border-gray;
	margin-top: 15px;
	.top-navbar{
		.nav{
			>li{
				>a{
					text-transform: uppercase;
					span{
		    			margin-top: 3px;
		    			font-size: 16px;
					}
				}
			}
		}
	}

	&:hover{
		background:#eee;
	}
	
}


.logo{
	max-width: 165px;
	height: 98px;
	width: 100%;
	background: url("../img/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}


.ribbon-banner{
	background: @color-blue-banner;
	border-top: 2px solid @gray-light;
	color: white;
	text-transform: uppercase;
	font-size: 31px;
	padding: 10px 0;
	text-align: center;

	span{
		display: block;
	}

	.ribbon-title{
		font-family: 'bold';
	}

	.ribbon-subtitle{
		font-family: 'light';
	}
}

.list-search-container{
	.input-group{
		input{
			width: 50%;
		}
	}

	.btn.btn-aqua{
		height: 34px;
		padding: 0;
	}
}

.main-search{
	padding: 60px 0;

	.main-search-container{
		min-height: 263px;
				
		.form-group{
			margin-bottom: 20px;
		}
	}

	
}


.footer-advertise{
	
	.google-advertise{
		padding: 0 12px;
		max-width: 100%;
	}
	.square-advertise{
		height: 95px;
		min-height: 95px;
	}
}


.start-item{
	margin-bottom: 20px;

	.top-side, .bottom-side{
		width: 100%;
		font-size: @h2;
	}

	p{
		margin: 0;
	}

	.top-side{
		min-height: 50px;
		text-align: center;
		background: @border-gray;
		padding: 10px;
	}

	.bottom-side{
		background: @gray-light;
		padding: 20px 70px;

		.btn.btn-aqua{
			.large-btn;
		}

		.link{
			color: @main-gray;
			font-size: @xsmall-text;
		}
	}
}

.advertise-company{
	.left-side{
		padding-right: 0;
		overflow: hidden;
		

		img{
			max-width: 100%;
		}
	}
	.right-side{
		padding-left: 0;

		.right-inner{
			width: 100%;
			height: 100%;
			background: @gray-light;
			padding: 10px 20px;

			p{
				margin: 10px 0;
			}
		}
	}
}

.contact-container{
	.title-side{
		margin-bottom: 20px;
	}

	form{
		width: 70%;
		margin-bottom: 50px;
	}

	.email-info{
		color: @main-gray;
		font-size: @large-text;
		margin: 30px 0;
		text-align: center;
		display: block;
		width: 70%;
	}
}

.welcome-text{
	font-size: @xlarge-text;
	font-family: 'semibold';
	color: @gray-dark;
	margin: 20px 0;
	text-transform: capitalize;
}

.each-message{
	margin-bottom: 30px;

	.btn.btn-white{
		margin:0;
	}

	.local-name, .local-number, .new-message{
		display: inline-block;
		margin-right: 10px;
		vertical-align: middle;
	}

	.local-name{
		font-size: @large-text;
    	border-bottom: 1px solid @border-gray;
    	font-family: 'extrabold';
	}

	.local-number{
		font-size: @normal-text;
	}

	.new-message{
		font-size: @normal-text;
		font-family: 'semibold';
		color: @color-red;
	}

	.message-date, .contacted-message{
		text-transform: uppercase;
	}

	.message-from, .message-date, .contacted-message{
		font-family: 'bold';
	}

	.local-number, .message-content{
		font-family: 'light';
	}

	.contacted-message{
		color: @main-aqua;
		font-size: @small-text;
		float: right;
	}

	.btn.btn-aqua.btn-aqua-inline{
		font-size: @small-text;
		font-family: 'light';
	}

}

.user-data{
	.user-name{
		font-size: @large-text;
		font-family: 'bold';
	}

	.user-email{
		font-size: @normal-text;
		font-family: 'bold';
	}

	.user-phones{
		font-size: @normal-text;	
		font-family: 'light';
		margin: 20px 0;
	}

	.user-change-password{
		font-size: @normal-text;
		font-family: 'light';
		color: @gray-medium;
		text-transform: uppercase;
		text-decoration: underline;
	}
}

.detail-pagination{
	text-align: center;
	padding: 30px 0;

	.indicators{
		.round-btn(@main-blue);
		display: inline-block;
		vertical-align: middle;
	}

	.indicators-cont{
		>span{
			display: inline-block;
			vertical-align: middle;
			color: @main-gray;
			font-size: @normal-text;
		}

		&.pull-left{
			.indicators{
				margin-left: 0;	
			}
		}

		&.pull-right{
			.indicators{
				margin-right: 0;	
			}
		}
	}

	.detail-link{
		color: @main-blue;
		font-family: 'semibold';
		font-size: @normal-text;
		text-transform: uppercase;
		text-decoration: underline;
		display: inline-block;
    	vertical-align: middle;
    	margin-top: 5px;
	}
}



.detail-information{
	font-family: 'light';

	span{
		display: block;
		margin: 5px 0;

		&:first-child{
			margin-top: 0;
		}
	}

	.equipment-list{
		list-style: none;
		margin: 0;
		padding: 0;
		-webkit-column-gap: 50px; /* Chrome, Safari, Opera */
		-moz-column-gap: 50px; /* Firefox */
		column-gap: 50px;
		.columns(2);
	    font-family: 'light';
	    font-size: @medium-text;	
	    margin-bottom: 15px;	

	    li{
	    	margin-bottom: 5px;
	    	letter-spacing: 0;
	    }
	}

	.detail-price{
		font-family: 'bold';
		font-size: @h2;
	}

	.detail-publish{
		font-size: @medium-text;
		.detail-date{
			display: inline-block;
		}
	}

	.detail-city{
		text-transform: uppercase;
		margin-top: 10px;
		.glyphicon{
			display: inline-block;
		}
	}

	.equipment-header{
		font-family: 'bold';
		margin-top: 15px;
	}

	.btn-aqua{
		padding: 5px 10px;
	    font-size: @subtitle-text;
	    text-transform: none;
	    font-family: 'regular';
	    width: 100%;
	    margin-bottom: 15px;
	    text-align: left;
	    
	    span{
	    	display: inline-block;

	    }
	    
	    .glyphicon{
	    	font-size: @xlarge-text;
	    	vertical-align: top;
	    	margin: 0;
	    }

	    .glyphicon-envelope{
	    	font-size: @large-text;
	    	margin-right: 5px;
	    }
	}

}

.detail-contact{
	border:0;

	.header{
	    font-family: 'semibold';
	    text-transform: uppercase;
	    text-decoration: underline;
	    display: inline-block;
	    margin-right: 10px;
	    margin-bottom: 15px;
	    color: @gray-medium;
	}

	.go-profile{
		color: @main-gray;
		font-size: 11px;
    	text-decoration: underline;
    	font-family: 'semibold';
	}

	.company-phone, .company-celphone{
		font-family: 'light';
		font-size: @normal-text;
		display: block;
	}

	.company-logo{
		margin: 25px auto;

		img{
			display: inline-block;
			vertical-align: middle;
			width: 68px;
			height: 68px;
			background: black;
		}

		.company-name{
			color: @gray-dark;
			font-size: @h2;
		}
	}


}

.detail-form{
    border-top: 1px solid @border-gray;
    margin: 10px 0;
    padding: 10px 0;

    .navbar-collapse{
    	padding: 0;
    }

	>label{
		font-family: 'semibold';
		text-transform: uppercase;
		font-size: @subtitle-text;
		width: 100%;
	}

	button[type="submit"]{
	    margin: 20px auto 10px;
    	padding: 10px;
	}

	.form-group{
		label{
			font-family: 'light';
			font-size: @normal-text;
		}

		.form-control{
			border-color: @gray-dark;
		}
	}
}


.detaileSlider.slider-for{
	margin-bottom: 10px;
	.slick-slide {
		img{
			width: 100%;
		}
	}
}

.detailSlider-pager {
  img{
	  width: 70px;
	  height: 45px;	
  }

  .slick-dots{
  	margin-top: 20px;
  }
  
}

.agent-data{
	margin-bottom: 20px;
	
	.left-side{
		max-width: 35%;
		overflow: hidden;
		max-height: 105px;

		img{
			width: 90%;
			height: 100%;
		}
	}

	.agent-info{
		width: 65%;
		padding: 5px 0;

		>span{
			display: block;
			font-family: 'light';
			font-size: @normal-text;
			margin: 2px 0;
		}

		.agent-name{
			font-family: 'semibold';
			font-size: @subtitle-text;
		}
	}
}

/* Range slider */

.slider {
	position: relative;
	text-align: left;
	background-color: #989898;
	height: 0.6em;
	border-radius: 4px;
  }
  
  .slider .handle {
	position: absolute;
	z-index: 2;
	width: 1.6em;
	height: 1.6em;
	background-color:@gray-light;
	border-radius: 50%;
  }
  
  .handle {
	top: -0.5em;
	margin-left: -0.6em;
  }
  
  .slider .range {
	position: absolute;
	z-index: 1;
	display: block;
	font-size: .7em;
	background-color: @main-aqua;
	top: 0;
	height: 100%;
  }

  .tag{
	  font-size:@small-text;
	  padding:3px 5px;
	  display: inline-block;
	  background-color: @main-aqua;
	  color:#FFFFFF;
	  font-family: 'light';
	  border-radius: 5px;

	  &.list{
		  display: block;
		  margin-bottom:3px;
		  font-size:@normal-text;
		  font-weight: bold;
	  }
  }

  .clear-tag{
	font-family: 'light';
	font-size: @small-text;
  }






