/*****/
/*Text*/
/* Mixins */
.large-btn {
  width: 80%;
  margin: 15px auto;
}
body {
  color: #535353 !important;
  font-family: "regular", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  letter-spacing: 0.5px;
}
header {
  padding: 10px 0;
}
header .btn-aqua {
  margin-top: 4.5px;
  float: right;
  width: 100%;
}
footer {
  border-top: 1px solid #414041;
  padding: 15px 0;
}
footer p,
footer a {
  font-size: 16px;
  font-family: 'light';
  margin: 0;
}
footer p,
footer a,
footer p:hover,
footer a:hover,
footer p:focus,
footer a:focus,
footer p:active,
footer a:active {
  color: #414041;
}
footer a {
  text-decoration: none;
  float: right;
}
.nav-container {
  padding-top: 28.5px;
  padding-bottom: 28.5px;
}
.nav-container .btn.btn-aqua {
  font-size: 16px;
}
.navbar-toggle {
  padding: 0;
  margin: 0;
}
.navbar-toggle .icon-bar {
  width: 35px;
  height: 4px;
  margin: 7px 0;
  border-radius: 0;
  background-color: #414041;
}
.top-navbar .nav > li > a {
  color: #414041;
  font-family: 'bold';
  font-size: 16px;
  padding: 10px 20px;
}
.top-navbar .nav > li > a span {
  display: none;
  margin-right: 8px;
  font-size: 11px;
}
.search-ul {
  border-top: 1px solid #B0B0B0;
  border-bottom: 1px solid #B0B0B0;
  margin-top: 15px;
}
.search-ul .top-navbar .nav > li > a {
  text-transform: uppercase;
}
.search-ul .top-navbar .nav > li > a span {
  margin-top: 3px;
  font-size: 16px;
}
.search-ul:hover {
  background: #eee;
}
.logo {
  max-width: 165px;
  height: 98px;
  width: 100%;
  background: url("../img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.ribbon-banner {
  background: #344fa1;
  border-top: 2px solid #cccccc;
  color: white;
  text-transform: uppercase;
  font-size: 31px;
  padding: 10px 0;
  text-align: center;
}
.ribbon-banner span {
  display: block;
}
.ribbon-banner .ribbon-title {
  font-family: 'bold';
}
.ribbon-banner .ribbon-subtitle {
  font-family: 'light';
}
.list-search-container .input-group input {
  width: 50%;
}
.list-search-container .btn.btn-aqua {
  height: 34px;
  padding: 0;
}
.main-search {
  padding: 60px 0;
}
.main-search .main-search-container {
  min-height: 263px;
}
.main-search .main-search-container .form-group {
  margin-bottom: 20px;
}
.footer-advertise .google-advertise {
  padding: 0 12px;
  max-width: 100%;
}
.footer-advertise .square-advertise {
  height: 95px;
  min-height: 95px;
}
.start-item {
  margin-bottom: 20px;
}
.start-item .top-side,
.start-item .bottom-side {
  width: 100%;
  font-size: 24px;
}
.start-item p {
  margin: 0;
}
.start-item .top-side {
  min-height: 50px;
  text-align: center;
  background: #B0B0B0;
  padding: 10px;
}
.start-item .bottom-side {
  background: #cccccc;
  padding: 20px 70px;
}
.start-item .bottom-side .btn.btn-aqua {
  width: 80%;
  margin: 15px auto;
}
.start-item .bottom-side .link {
  color: #414041;
  font-size: 11px;
}
.advertise-company .left-side {
  padding-right: 0;
  overflow: hidden;
}
.advertise-company .left-side img {
  max-width: 100%;
}
.advertise-company .right-side {
  padding-left: 0;
}
.advertise-company .right-side .right-inner {
  width: 100%;
  height: 100%;
  background: #cccccc;
  padding: 10px 20px;
}
.advertise-company .right-side .right-inner p {
  margin: 10px 0;
}
.contact-container .title-side {
  margin-bottom: 20px;
}
.contact-container form {
  width: 70%;
  margin-bottom: 50px;
}
.contact-container .email-info {
  color: #414041;
  font-size: 18px;
  margin: 30px 0;
  text-align: center;
  display: block;
  width: 70%;
}
.welcome-text {
  font-size: 20px;
  font-family: 'semibold';
  color: #231f20;
  margin: 20px 0;
  text-transform: capitalize;
}
.each-message {
  margin-bottom: 30px;
}
.each-message .btn.btn-white {
  margin: 0;
}
.each-message .local-name,
.each-message .local-number,
.each-message .new-message {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.each-message .local-name {
  font-size: 18px;
  border-bottom: 1px solid #B0B0B0;
  font-family: 'extrabold';
}
.each-message .local-number {
  font-size: 14px;
}
.each-message .new-message {
  font-size: 14px;
  font-family: 'semibold';
  color: #ef4332;
}
.each-message .message-date,
.each-message .contacted-message {
  text-transform: uppercase;
}
.each-message .message-from,
.each-message .message-date,
.each-message .contacted-message {
  font-family: 'bold';
}
.each-message .local-number,
.each-message .message-content {
  font-family: 'light';
}
.each-message .contacted-message {
  color: #3b9db0;
  font-size: 12px;
  float: right;
}
.each-message .btn.btn-aqua.btn-aqua-inline {
  font-size: 12px;
  font-family: 'light';
}
.user-data .user-name {
  font-size: 18px;
  font-family: 'bold';
}
.user-data .user-email {
  font-size: 14px;
  font-family: 'bold';
}
.user-data .user-phones {
  font-size: 14px;
  font-family: 'light';
  margin: 20px 0;
}
.user-data .user-change-password {
  font-size: 14px;
  font-family: 'light';
  color: #535353;
  text-transform: uppercase;
  text-decoration: underline;
}
.detail-pagination {
  text-align: center;
  padding: 30px 0;
}
.detail-pagination .indicators {
  color: #273d8c;
  background-color: transparent !important;
  padding: 0px 4px;
  font-size: 24px;
  width: 32px;
  height: 32px;
  margin: 0 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
}
.detail-pagination .indicators,
.detail-pagination .indicators:hover,
.detail-pagination .indicators:focus,
.detail-pagination .indicators:active {
  border: 1px solid #273d8c;
}
.detail-pagination .indicators:focus {
  outline: 0;
}
.detail-pagination .indicators-cont > span {
  display: inline-block;
  vertical-align: middle;
  color: #414041;
  font-size: 14px;
}
.detail-pagination .indicators-cont.pull-left .indicators {
  margin-left: 0;
}
.detail-pagination .indicators-cont.pull-right .indicators {
  margin-right: 0;
}
.detail-pagination .detail-link {
  color: #273d8c;
  font-family: 'semibold';
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: underline;
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
}
.detail-information {
  font-family: 'light';
}
.detail-information span {
  display: block;
  margin: 5px 0;
}
.detail-information span:first-child {
  margin-top: 0;
}
.detail-information .equipment-list {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-column-gap: 50px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 50px;
  /* Firefox */
  column-gap: 50px;
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2;
  font-family: 'light';
  font-size: 13px;
  margin-bottom: 15px;
}
.detail-information .equipment-list li {
  margin-bottom: 5px;
  letter-spacing: 0;
}
.detail-information .detail-price {
  font-family: 'bold';
  font-size: 24px;
}
.detail-information .detail-publish {
  font-size: 13px;
}
.detail-information .detail-publish .detail-date {
  display: inline-block;
}
.detail-information .detail-city {
  text-transform: uppercase;
  margin-top: 10px;
}
.detail-information .detail-city .glyphicon {
  display: inline-block;
}
.detail-information .equipment-header {
  font-family: 'bold';
  margin-top: 15px;
}
.detail-information .btn-aqua {
  padding: 5px 10px;
  font-size: 16px;
  text-transform: none;
  font-family: 'regular';
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
}
.detail-information .btn-aqua span {
  display: inline-block;
}
.detail-information .btn-aqua .glyphicon {
  font-size: 20px;
  vertical-align: top;
  margin: 0;
}
.detail-information .btn-aqua .glyphicon-envelope {
  font-size: 18px;
  margin-right: 5px;
}
.detail-contact {
  border: 0;
}
.detail-contact .header {
  font-family: 'semibold';
  text-transform: uppercase;
  text-decoration: underline;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 15px;
  color: #535353;
}
.detail-contact .go-profile {
  color: #414041;
  font-size: 11px;
  text-decoration: underline;
  font-family: 'semibold';
}
.detail-contact .company-phone,
.detail-contact .company-celphone {
  font-family: 'light';
  font-size: 14px;
  display: block;
}
.detail-contact .company-logo {
  margin: 25px auto;
}
.detail-contact .company-logo img {
  display: inline-block;
  vertical-align: middle;
  width: 68px;
  height: 68px;
  background: black;
}
.detail-contact .company-logo .company-name {
  color: #231f20;
  font-size: 24px;
}
.detail-form {
  border-top: 1px solid #B0B0B0;
  margin: 10px 0;
  padding: 10px 0;
}
.detail-form .navbar-collapse {
  padding: 0;
}
.detail-form > label {
  font-family: 'semibold';
  text-transform: uppercase;
  font-size: 16px;
  width: 100%;
}
.detail-form button[type="submit"] {
  margin: 20px auto 10px;
  padding: 10px;
}
.detail-form .form-group label {
  font-family: 'light';
  font-size: 14px;
}
.detail-form .form-group .form-control {
  border-color: #231f20;
}
.detaileSlider.slider-for {
  margin-bottom: 10px;
}
.detaileSlider.slider-for .slick-slide img {
  width: 100%;
}
.detailSlider-pager img {
  width: 70px;
  height: 45px;
}
.detailSlider-pager .slick-dots {
  margin-top: 20px;
}
.agent-data {
  margin-bottom: 20px;
}
.agent-data .left-side {
  max-width: 35%;
  overflow: hidden;
  max-height: 105px;
}
.agent-data .left-side img {
  width: 90%;
  height: 100%;
}
.agent-data .agent-info {
  width: 65%;
  padding: 5px 0;
}
.agent-data .agent-info > span {
  display: block;
  font-family: 'light';
  font-size: 14px;
  margin: 2px 0;
}
.agent-data .agent-info .agent-name {
  font-family: 'semibold';
  font-size: 16px;
}
/* Range slider */
.slider {
  position: relative;
  text-align: left;
  background-color: #989898;
  height: 0.6em;
  border-radius: 4px;
}
.slider .handle {
  position: absolute;
  z-index: 2;
  width: 1.6em;
  height: 1.6em;
  background-color: #cccccc;
  border-radius: 50%;
}
.handle {
  top: -0.5em;
  margin-left: -0.6em;
}
.slider .range {
  position: absolute;
  z-index: 1;
  display: block;
  font-size: .7em;
  background-color: #3b9db0;
  top: 0;
  height: 100%;
}
.tag {
  font-size: 12px;
  padding: 3px 5px;
  display: inline-block;
  background-color: #3b9db0;
  color: #FFFFFF;
  font-family: 'light';
  border-radius: 5px;
}
.tag.list {
  display: block;
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: bold;
}
.clear-tag {
  font-family: 'light';
  font-size: 12px;
}
