/*****/
/*Text*/
/* Mixins */
.large-btn {
  width: 80%;
  margin: 15px auto;
}
@media only screen and (max-width: 767px) {
  .block-xs {
    display: block !important;
  }
  .inline-xs {
    display: inline-block !important;
  }
  header .btn-aqua {
    margin-right: 5%;
    width: inherit;
  }
  .logo {
    min-height: 50px;
    height: inherit;
  }
  .top-navbar {
    float: none !important;
    padding: 0;
  }
  .top-navbar .nav > li {
    float: none;
  }
  .top-navbar .nav > li > a {
    padding: 10px;
    font-size: 16px;
  }
  .top-navbar .nav > li > a span {
    display: inline-block;
  }
  .ribbon-banner {
    font-size: 16px;
  }
  .subtitle-txt h3 {
    font-size: 16px;
  }
  footer p,
  footer a {
    text-align: center;
  }
  footer a {
    display: block;
    float: none;
    text-decoration: underline;
    margin: 10px 0;
  }
  .order-container label {
    font-family: 'light';
    font-size: 11px;
    display: block;
  }
  .order-container select {
    width: 100%;
    font-size: 14px;
  }
  .btn-white-black.highligh-btn {
    width: 95%;
    margin: 0 auto 20px;
    display: block;
    text-align: center;
    float: none !important;
  }
  .list-top-pagination {
    margin: 25px 0;
  }
  .list-top-pagination p {
    margin: 0;
  }
  .list-search-container h3 {
    float: none;
    display: block;
    font-size: 24px;
    font-family: 'semibold';
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
    cursor: pointer;
    border-bottom: 1px solid #3b9db0 !important;
    padding-bottom: 25px;
  }
  .list-search-container h3 span {
    margin-left: 10px;
    font-size: 20px;
  }
  .list-search-container h3 .glyphicon-triangle-bottom {
    display: inline-block;
  }
  .list-search-container h3 .glyphicon-play {
    display: none;
  }
  .list-search-container h3.collapsed .glyphicon-triangle-bottom {
    display: none;
  }
  .list-search-container h3.collapsed .glyphicon-play {
    display: inline-block;
  }
  .list-search-container form {
    border-bottom: 1px solid #3b9db0 !important;
    padding-bottom: 10px;
  }
  .search-form {
    border: 0;
    padding: 0;
  }
  .search-form label {
    display: block;
  }
  .search-form .input-group input {
    width: 50%;
    font-size: 20px;
    height: 46px;
    margin: 0;
    line-height: 0;
  }
  .search-form .form-control {
    font-size: 16px;
  }
  .search-form .btn.btn-aqua {
    font-size: 20px;
  }
  .start-item .bottom-side {
    padding: 20px;
  }
  .start-item .bottom-side .btn.btn-aqua {
    width: 100%;
  }
  .advertise-company .right-side .btn.btn-aqua {
    width: 100%;
    padding: 10px !important;
  }
  .advertise-company .left-side,
  .advertise-company .right-side {
    padding-right: 15px;
    padding-left: 15px;
  }
  .each-message .local-number {
    display: block;
  }
  .each-message .message-from p {
    margin: 0;
  }
  .each-message .message-date {
    margin-top: 20px;
  }
  .each-message .new-message.visible-xs {
    display: inline-block !important;
  }
  .user-data .user-change-password {
    font-size: 18px;
    font-family: 'semibold';
    color: #223080;
  }
  .main-item.full-item .main-item-content .main-item-inner .item-published p {
    margin-top: 6px;
  }
  .main-item.full-item .main-item-content .main-item-inner .item-info {
    font-size: 14px;
  }
  .main-item.full-item .main-item-content .main-item-inner .btn-blue {
    margin: 0;
    font-size: 16px;
    font-family: 'semibold';
  }
}
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 991px) {
  .block-xssm {
    display: block !important;
  }
  .inline-xssm {
    display: inline-block !important;
  }
  .contact-container form,
  .contact-container .email-info {
    width: 100%;
  }
  .nav-container {
    padding-top: 0;
    padding-bottom: 0;
  }
  .list-top-pagination nav {
    float: none !important;
  }
  .detail-information .btn-aqua {
    width: auto;
    min-width: 50%;
    margin: auto;
    display: block;
    margin-bottom: 15px;
  }
  .detail-information .equipment-header {
    margin-top: 5px;
  }
  .detail-information .equipment-list {
    margin-top: 10px;
  }
  .detail-contact {
    margin-top: 30px;
  }
  .detail-contact .header,
  .detail-contact .go-profile {
    display: block;
    text-align: center;
  }
  .detail-contact .company-phone,
  .detail-contact .company-celphone {
    font-size: 12px;
  }
  .detail-form {
    border-bottom: 1px solid #b0b0b0;
  }
  .detail-form > label {
    text-align: center;
  }
  .detail-form .navbar-collapse {
    padding: 0 15px;
  }
  .form-group label {
    font-size: 11px;
  }
  .agent-data .left-side {
    width: 30%;
  }
  .agent-data .agent-info {
    width: 70%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .block-sm {
    display: block !important;
  }
  .inline-sm {
    display: inline-block !important;
  }
  .top-navbar .nav > li > a {
    padding: 10px 5px;
  }
  .nav-container a {
    font-size: 14px !important;
  }
  .nav-container .btn.btn-aqua {
    padding: 5px !important;
  }
  .btn {
    padding: 10px !important;
  }
  .company-logo {
    width: 40%;
  }
}
@media only screen and (min-width: 768px) {
  
}
@media only screen and (min-width: 991px) {
  
}
@media only screen and (min-width: 1200px) {
  
}
