@import "_variables";

// XS  screens

@media only screen and (max-width: 767px) {

	.block-xs{
		display: block !important;
	}

	.inline-xs{
		display: inline-block !important;
	}

	header{
		.btn-aqua{
    		margin-right: 5%;
    		width: inherit;
		}
	}

	.logo{
		min-height: 50px;
		height: inherit;
	}

	
	.top-navbar {
		float: none !important;
    	padding: 0;
		.nav {
			> li{
				float: none;
				>a{
					padding: 10px;
					font-size: @subtitle-text;
					span{
						display: inline-block;
					}
				}
			}
		}
	}
	.ribbon-banner {
		font-size: @subtitle-text;
		
	}

	.subtitle-txt{
		h3{
			font-size: @subtitle-text;	
		}
		
	}

	footer{
		p,a{
			text-align: center;
		}

		a{
		    display: block;
		    float: none;
		    text-decoration: underline;
		    margin: 10px 0;
		}
	}

	.order-container{
		label{
			font-family: 'light';
			font-size: @xsmall-text;
			display: block;
		}

		select{
			width: 100%;
			font-size: @normal-text;
		}
	}

	.btn-white-black{
		&.highligh-btn{
			width: 95%;
		    margin: 0 auto 20px;
		    display: block;
		    text-align: center;
		    float: none !important;
		}
	}

	.list-top-pagination{
		margin: 25px 0;

		p{
			margin: 0;
		}
	}

	.list-search-container{
		h3{
			float: none;
			display: block;
			font-size: @h2;
			font-family: 'semibold';
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 25px;
			cursor: pointer;
			border-bottom: 1px solid @main-aqua !important;
			padding-bottom: 25px;

			span{
				margin-left: 10px;
				font-size: @xlarge-text;
			}

			.glyphicon-triangle-bottom{
				display: inline-block;
			}
			.glyphicon-play{
				display: none;
			}

			&.collapsed{
				.glyphicon-triangle-bottom{
					display: none;
				}
				.glyphicon-play{
					display: inline-block;
				}
			}
		}

	    form{

			border-bottom: 1px solid @main-aqua !important;
    		padding-bottom: 10px;
	    }
	}

	.search-form{
		border: 0;
		padding: 0;

		label{
			display: block;
		}

		.input-group {
			input{
				width: 50%;
				font-size: @xlarge-text;
			    height: 46px;
			    margin: 0;
			    line-height: 0;
			}
		}

		.form-control{
			font-size: @subtitle-text;
		}

		.btn.btn-aqua{
			font-size: @xlarge-text;
		}


	}


	.start-item {
		.bottom-side {
			padding: 20px;

			.btn.btn-aqua{
				width: 100%;
			}
		}
	}

	.advertise-company {
		.right-side{
			.btn.btn-aqua{
				width: 100%;
				padding: 10px !important;
			}
		}
	}

	.advertise-company{
		.left-side, .right-side{
		    padding-right: 15px;
		    padding-left: 15px;
		}
		
	}
	

	.each-message {
		.local-number{
			display: block;
		}
		.message-from{
			p{
				margin:0;
			}
		}

		.message-date{
			margin-top: 20px;
		}

		.new-message{
			&.visible-xs{
				display: inline-block !important;
			}
		}
	}

	.user-data {
		.user-change-password{
		    font-size: @large-text;
		    font-family: 'semibold';
		    color: @blue-dark;
		}
	}

	.main-item {
		&.full-item{
			.main-item-content {
				.main-item-inner {
					.item-published{
						p{
							margin-top: 6px;
						}
					}
					.item-info{
						font-size: @normal-text;
					}
					.btn-blue{
						margin: 0;
						font-size: @subtitle-text;
    					font-family: 'semibold';
					}
				}
			}
		}
	}




} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

//XS & SMALL
@media only screen and (max-width: 991px) {
	.block-xssm{
		display: block !important;
	}

	.inline-xssm{
		display: inline-block !important;
	}

	.contact-container{
		form,.email-info{
			width: 100%;
		}
	}

	.nav-container{
		padding-top: 0;
		padding-bottom: 0;
	}

	.list-top-pagination{
		nav{
			float: none !important;	
		}
		
	}

	.detail-information {
		.btn-aqua{
			width: auto;
			min-width: 50%;
			margin:auto;
			display: block;
			margin-bottom: 15px;
		}

		.equipment-header{
			margin-top: 5px;
		}

		.equipment-list{
			margin-top: 10px;
		}
	}

	.detail-contact{
		margin-top: 30px;
		
		.header, .go-profile{
			display: block;
			text-align: center;
		}

		.company-phone, .company-celphone{
			font-size: @small-text;
		}
	}

	.detail-form{
		border-bottom: 1px solid @border-gray;

		>label{
			text-align: center;
		}

		.navbar-collapse{
	    	padding: 0 15px;
	    }
	}

	.form-group{
		label{
			font-size: @xsmall-text;
		}
	}

	.agent-data {
		.left-side{
			width: 30%;
		}

		.agent-info{
			width: 70%;
		}
	}


	
}

//SM 
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.block-sm{
		display: block !important;
	}

	.inline-sm{
		display: inline-block !important;
	}

	.top-navbar {
		.nav {
			> li {
				> a{
					padding: 10px 5px;
				}
			}
		}
	}

	.nav-container{
		a{
			font-size: @normal-text !important;
		}

		.btn.btn-aqua{
			padding: 5px !important;
		}
	}

	.btn{
		padding: 10px !important;
	}

	.company-logo{
		width: 40%;
	}




} 

// SM & Forward
@media only screen and (min-width: 768px) {

} 


//M & Forward
@media only screen and (min-width: 991px) { } 


// L & Forward
@media only screen and (min-width: 1200px) { }

