/*****/
/*Text*/
/* Mixins */
.large-btn {
  width: 80%;
  margin: 15px auto;
}
@font-face {
  font-family: 'regular';
  src: url('../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bold';
  src: url('../fonts/opensans-bold-webfont.eot');
  src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-bold-webfont.woff2') format('woff2'), url('../fonts/opensans-bold-webfont.woff') format('woff'), url('../fonts/opensans-bold-webfont.ttf') format('truetype'), url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'light';
  src: url('../fonts/opensans-light-webfont.eot');
  src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-light-webfont.woff2') format('woff2'), url('../fonts/opensans-light-webfont.woff') format('woff'), url('../fonts/opensans-light-webfont.ttf') format('truetype'), url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'extrabold';
  src: url('../fonts/opensans-extrabold-webfont.eot');
  src: url('../fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'), url('../fonts/opensans-extrabold-webfont.woff') format('woff'), url('../fonts/opensans-extrabold-webfont.ttf') format('truetype'), url('../fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'semibold';
  src: url('../fonts/opensans-semibold-webfont.eot');
  src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-semibold-webfont.woff2') format('woff2'), url('../fonts/opensans-semibold-webfont.woff') format('woff'), url('../fonts/opensans-semibold-webfont.ttf') format('truetype'), url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
section {
  margin: 20px 0;
}
p {
  font-size: 14px;
}
.light-txt {
  font-family: 'light';
}
.bold-txt {
  font-family: 'bold';
}
.semibold-txt {
  font-family: 'semibold';
}
.text-normal {
  text-transform: none !important;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.h2 {
  font-size: 24px;
  text-transform: uppercase;
  margin: 0 !important;
}
.subtitle-txt {
  border-bottom: 1px solid #B0B0B0;
  font-family: 'bold';
  display: block;
  padding: 10px 0 10px;
  font-size: 24px;
  text-transform: uppercase;
}
.subtitle-txt h1,
.subtitle-txt h2,
.subtitle-txt h3,
.subtitle-txt h4,
.subtitle-txt h5,
.subtitle-txt h6 {
  margin: 0;
  display: inline-block;
}
.binding span {
  display: inline-block !important;
}
.btn {
  text-transform: uppercase;
  white-space: normal;
}
.btn.btn-aqua {
  color: white ;
  background-color: #3b9db0;
  border-color: #1a899e;
  font-family: 'bold';
  font-size: 13px;
  display: block ;
  padding: 10px 30px ;
  cursor: pointer;
}
.btn.btn-aqua:hover,
.btn.btn-aqua:active,
.btn.btn-aqua:focus {
  background-color: #1a899e;
  color: white ;
}
.btn.btn-aqua.btn-aqua-inline {
  font-size: 14px;
  padding: 3px 5px ;
  display: inline-block;
  margin: 0 5px;
  width: inherit !important;
}
.btn.btn-aqua.md {
  padding: 10px 15px !important;
}
.btn.btn-white {
  color: #3b9db0;
  background-color: white;
  cursor: pointer;
  border-color: #3b9db0;
  font-family: 'light';
  font-size: 13px;
  margin: 0 5px;
  padding: 3px 5px ;
  display: inline-block;
}
.btn.btn-white-black {
  color: #535353;
  background-color: white;
  cursor: pointer;
  border-color: #535353;
  font-family: 'light';
  font-size: 13px;
  margin: 0 5px 20px;
  padding: 3px 20px ;
  display: inline-block;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.btn.btn-white-black.md {
  padding: 10px 15px !important;
}
.btn-blue {
  font-size: 16px;
  font-family: 'semibold';
  text-transform: uppercase;
  background: #273d8c;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  display: block;
}
.btn-blue,
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active {
  color: white;
  background: #223080;
}
.btn-blue.expired {
  background: #697bbc;
}
.inner-btns {
  margin-top: 10px;
}
.inner-btns .btn {
  font-family: 'light';
  margin: 13px 0;
}
.inner-btns .btn:last-child {
  margin-bottom: 0;
}
.google-advertise {
  margin-bottom: 40px;
  max-width: 280px;
  margin: 20px auto;
}
.google-advertise:before,
.google-advertise:after {
  content: " ";
  display: table;
}
.google-advertise:after {
  clear: both;
}
.google-advertise .square-advertise {
  background: #414041;
  width: 100%;
  min-height: 263px;
}
.google-advertise .advertise-caption {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #414041;
  float: right;
  max-width: 185px;
  margin-top: -2px;
}
.google-advertise .advertise-caption a {
  color: #535353;
  text-decoration: underline;
  font-size: 11px;
  font-family: 'light';
  text-align: right;
  display: block;
  padding: 1px 8px;
}
.order-container {
  margin-bottom: 15px;
  font-family: 'light';
}
.order-container * {
  font-size: 16px;
}
.order-container select {
  width: 60%;
  display: inline-block;
}
.order-container .label {
  margin-right: 10px;
}
.main-items-container {
  margin-top: 32px;
  margin-bottom: 32px;
}
.main-item {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  max-width: 180px;
  color: white;
  margin: auto;
  margin-bottom: 20px;
}
.main-item .highlight-ribbon {
  display: none;
  position: absolute;
  top: -16px;
  left: 10px;
}
.main-item .highlight-ribbon span {
  clear: both;
  position: relative;
  color: #fff;
  background: #ef4332;
  font-size: 9px;
  margin: 0 -20px 20px -20px;
  padding: 0 13px;
  text-transform: uppercase;
  font-family: 'semibold';
  z-index: 1;
}
.main-item .highlight-ribbon span:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  top: -9px;
  left: 0;
  z-index: -1;
  position: absolute;
  border-bottom: 10px solid #f4877b;
  border-left: 7px solid transparent;
  background: transparent;
}
.main-item .highlight-ribbon span:after {
  content: '';
  position: absolute;
  display: block;
  border: 6px solid #ef4332;
  right: -1.3em;
  border-left-width: 1.5em;
  border-right-color: transparent;
  bottom: 0;
  z-index: -1;
}
.main-item.full-item {
  max-width: 100%;
  width: 100%;
}
.main-item.full-item .highlight-ribbon {
  left: 13px;
  top: 22px;
}
.main-item.full-item.highlight .main-item-top {
  background: #3b9db0;
  overflow: visible;
}
.main-item.full-item.highlight .main-item-content .main-item-inner .round-btn {
  color: white;
  background-color: transparent !important;
  padding: 0px 4px;
  font-size: 24px;
  width: 32px;
  height: 32px;
  margin: 0 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.main-item.full-item.highlight .main-item-content .main-item-inner .round-btn,
.main-item.full-item.highlight .main-item-content .main-item-inner .round-btn:hover,
.main-item.full-item.highlight .main-item-content .main-item-inner .round-btn:focus,
.main-item.full-item.highlight .main-item-content .main-item-inner .round-btn:active {
  border: 1px solid white;
}
.main-item.full-item.highlight .main-item-content .main-item-inner .round-btn:focus {
  outline: 0;
}
.main-item.full-item.highlight .main-item-content .main-item-inner .slick-prev,
.main-item.full-item.highlight .main-item-content .main-item-inner .slick-next {
  border-color: white;
}
.main-item.full-item.highlight .main-item-content .main-item-inner .slick-prev,
.main-item.full-item.highlight .main-item-content .main-item-inner .slick-next,
.main-item.full-item.highlight .main-item-content .main-item-inner .slick-prev:before,
.main-item.full-item.highlight .main-item-content .main-item-inner .slick-next:before {
  color: white;
}
.main-item.full-item.gray .main-item-content .main-item-inner .round-btn {
  color: #414041;
  background-color: transparent !important;
  padding: 0px 4px;
  font-size: 24px;
  width: 32px;
  height: 32px;
  margin: 0 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.main-item.full-item.gray .main-item-content .main-item-inner .round-btn,
.main-item.full-item.gray .main-item-content .main-item-inner .round-btn:hover,
.main-item.full-item.gray .main-item-content .main-item-inner .round-btn:focus,
.main-item.full-item.gray .main-item-content .main-item-inner .round-btn:active {
  border: 1px solid #414041;
}
.main-item.full-item.gray .main-item-content .main-item-inner .round-btn:focus {
  outline: 0;
}
.main-item.full-item.gray .main-item-content .main-item-inner .slick-prev,
.main-item.full-item.gray .main-item-content .main-item-inner .slick-next {
  border-color: #414041;
}
.main-item.full-item.gray .main-item-content .main-item-inner .slick-prev,
.main-item.full-item.gray .main-item-content .main-item-inner .slick-next,
.main-item.full-item.gray .main-item-content .main-item-inner .slick-prev:before,
.main-item.full-item.gray .main-item-content .main-item-inner .slick-next:before {
  color: #414041;
}
.main-item.full-item .main-item-top {
  height: 35px;
  padding: 5px 7px;
}
.main-item.full-item .main-item-content {
  padding: 3px;
}
.main-item.full-item .main-item-content .main-item-inner {
  position: relative;
  text-align: left;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.main-item.full-item .main-item-content .main-item-inner img {
  margin-top: 4px;
}
.main-item.full-item .main-item-content .main-item-inner p {
  font-family: 'light';
  margin: 0;
}
.main-item.full-item .main-item-content .main-item-inner .item-length {
  font-family: 'regular';
}
.main-item.full-item .main-item-content .main-item-inner .item-published p {
  font-size: 11px;
}
.main-item.full-item .main-item-content .main-item-inner .item-info span {
  text-align: left;
}
.main-item.full-item .main-item-content .main-item-inner .btn-blue {
  width: 180px;
  margin-right: 25px;
}
.main-item.full-item .main-item-content .main-item-inner .round-btn {
  color: #3b9db0;
  background-color: transparent !important;
  padding: 0px 4px;
  font-size: 24px;
  width: 32px;
  height: 32px;
  margin: 0 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  margin: 0 !important;
}
.main-item.full-item .main-item-content .main-item-inner .round-btn,
.main-item.full-item .main-item-content .main-item-inner .round-btn:hover,
.main-item.full-item .main-item-content .main-item-inner .round-btn:focus,
.main-item.full-item .main-item-content .main-item-inner .round-btn:active {
  border: 1px solid #3b9db0;
}
.main-item.full-item .main-item-content .main-item-inner .round-btn:focus {
  outline: 0;
}
.main-item.full-item .main-item-content .main-item-inner .slick-prev,
.main-item.full-item .main-item-content .main-item-inner .slick-next {
  margin: 5px 0 0;
  display: inline-block !important;
  position: relative;
  border-color: #3b9db0;
}
.main-item.full-item .main-item-content .main-item-inner .slick-prev,
.main-item.full-item .main-item-content .main-item-inner .slick-next,
.main-item.full-item .main-item-content .main-item-inner .slick-prev:before,
.main-item.full-item .main-item-content .main-item-inner .slick-next:before {
  color: #3b9db0;
}
.main-item.full-item .main-item-content .main-item-inner .slick-next {
  float: right;
}
.main-item.full-item .main-item-content .main-item-inner .slick-prev {
  float: left;
}
.main-item.highlight .highlight-ribbon {
  display: block;
}
.main-item.highlight .main-item-top {
  background: #1a899e;
}
.main-item.highlight .main-item-content .main-item-inner {
  background: #3b9db0;
  color: white;
}
.main-item.gray {
  color: #414041;
}
.main-item.gray .main-item-top,
.main-item.gray .main-item-content {
  background: #e5e5e4;
}
.main-item .main-item-top {
  position: relative;
  height: 50px;
  padding: 13px 7px 13px 7px;
  background: #3b9db0;
  text-transform: uppercase;
  width: 100%;
  line-height: 18px;
  overflow: hidden;
}
.main-item .main-item-top p {
  font-size: 14px;
  font-family: 'semibold';
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.main-item .main-item-content {
  width: 100%;
  height: 100%;
  background: #3b9db0;
  padding: 3px;
}
.main-item .main-item-content img {
  width: 100%;
  max-height: 95px;
  margin-bottom: 5px;
}
.main-item .main-item-content .main-item-inner {
  position: relative;
  padding: 7px 4px 10px;
  width: 100%;
  height: 100%;
  color: #414041;
  background: #e5e5e4;
}
.main-item .item-location {
  font-size: 14px;
  font-family: 'semibold';
  text-transform: uppercase;
  margin-bottom: 7px;
}
.main-item .item-location span {
  display: inline-block;
  vertical-align: bottom;
}
.main-item .item-location .glyphicon {
  font-size: 20px;
}
.main-item .item-info {
  font-size: 18px;
  font-family: 'semibold';
}
.main-item .item-info span {
  display: block;
  text-align: right;
}
.main-item .btn-blue {
  position: relative;
  width: 100%;
  margin-top: -5px;
}
.form-control {
  font-family: 'light' !important;
  border: 1px solid #B0B0B0;
}
.form-group {
  margin-bottom: 5px;
}
.form-group label {
  font-size: 14px;
  font-family: 'light' !important;
}
form.ng-submitted .ng-invalid {
  border-color: #a94442 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.pagination > li > a {
  cursor: pointer;
}
.pagination.original-style > li > a {
  border-color: #B0B0B0;
  color: #414041;
  font-family: 'light';
}
.pagination.original-style > li > a:hover,
.pagination.original-style > li > a:focus,
.pagination.original-style > li > a:active {
  background-color: #3b9db0;
  color: white;
}
.pagination.round-style > li > a {
  -webkit-border-radius: 100% !important;
  -moz-border-radius: 100% !important;
  border-radius: 100% !important;
  height: 22px;
  width: 22px;
  margin: 5px 6px;
  padding: 0;
}
.pagination.round-style .indicators {
  color: #273d8c;
  background-color: transparent !important;
  padding: 0px 4px;
  font-size: 24px;
  width: 32px;
  height: 32px;
  margin: 0 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.pagination.round-style .indicators,
.pagination.round-style .indicators:hover,
.pagination.round-style .indicators:focus,
.pagination.round-style .indicators:active {
  border: 1px solid #273d8c;
}
.pagination.round-style .indicators:focus {
  outline: 0;
}
.pagination.round-style .first,
.pagination.round-style .first:hover,
.pagination.round-style .first:focus,
.pagination.round-style .first:active {
  background: #0e7284;
}
.pagination.round-style .rest,
.pagination.round-style .rest:hover,
.pagination.round-style .rest:focus,
.pagination.round-style .rest:active {
  background: #5db7c9;
}
.search-form {
  margin-bottom: 25px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #3b9db0;
  padding: 20px;
}
.search-form .form-title {
  font-size: 16px;
  margin: 0 0 23px;
  text-transform: uppercase;
  font-family: 'bold';
  text-align: center;
}
.search-form .btn-aqua {
  width: 100%;
}
.search-form label {
  font-family: 'light';
  font-size: 11px;
}
.search-form .input-group {
  display: block;
}
.search-form .input-group input {
  width: 50%;
  text-transform: uppercase;
  font-family: 'bold' !important;
  color: #B0B0B0;
  background: white !important;
}
.search-form .input-group input.active {
  color: #1a899e;
}
.search-form .input-group input.disabled {
  color: #B0B0B0;
}
.search-form .input-group input:focus {
  box-shadow: none;
  border-color: #B0B0B0;
}
.breadcrumb {
  background-color: transparent;
  margin: 0;
  padding: 0;
}
.breadcrumb a {
  color: #414041;
  font-size: 14px;
}
.breadcrumb a .glyphicon-home {
  color: #223080;
}
.breadcrumb > li + li:before {
  color: #414041;
}
.form-error span {
  font-family: 'semibold';
  font-size: 11px;
  display: block;
}
textarea {
  min-height: 95px;
}
.full-width {
  width: 100%;
}
.filters-container {
  width: 80px;
  position: absolute;
  left: -90px;
}
.filters-container .filter-cont {
  margin-bottom: 20px;
  position: relative;
}
.filters-container .filter-cont > span {
  font-size: 12px;
  font-family: 'bold';
  display: block;
  text-align: center;
  margin-top: 3px;
}
.filter-icon {
  width: 48px;
  height: 48px;
  margin: auto;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  cursor: pointer;
  color: white !important;
  font-family: 'bold';
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
}
.filter-icon.big-icon {
  width: 78px;
  height: 78px;
  padding: 10px;
  font-size: 11px;
}
.filter-icon .glyphicon {
  display: block;
  font-size: 40px;
}
.filter-icon sup {
  top: -1.2em;
  font-size: 11px;
}
.filter-red {
  color: #EB4628;
}
.filter-red .filter-icon {
  background: #EB4628;
  padding: 5px;
}
.filter-red .filter-icon .glyphicon {
  font-size: 30px;
}
.filter-yellow {
  color: #D39800;
}
.filter-yellow .filter-icon {
  background: #D39800;
  font-size: 25px;
  padding: 5px;
}
.filter-green {
  color: #2EA439;
}
.filter-green .filter-icon {
  background: #2EA439;
}
.filter-blue {
  color: #223080;
}
.filter-blue .filter-icon {
  background: #223080;
}
.filter-aqua {
  color: #3b9db0;
}
.filter-aqua .filter-icon {
  background: #3b9db0;
  padding: 5px;
}
.filter-aqua .filter-icon .glyphicon {
  font-size: 32px;
}
button.close {
  position: relative;
  z-index: 1;
}
.modal-content {
  padding: 10px;
}
.editForm .btn.btn-aqua {
  width: 80%;
  margin: 15px auto;
}
.rounded-btn {
  background-color: #3b9db0 !important;
  color: #FFFFFF;
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
  padding: 8px 12px;
  margin-left: -5px;
  border: 0;
  position: absolute;
  z-index: 2;
  right: -20px;
  top: -3px;
  cursor: pointer;
}
.rounded-btn::before {
  color: #FFFFFF;
  font-size: 20px;
}
.cursor-pointer {
  cursor: pointer;
}
body {
  color: #535353 !important;
  font-family: "regular", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  letter-spacing: 0.5px;
}
header {
  padding: 10px 0;
}
header .btn-aqua {
  margin-top: 4.5px;
  float: right;
  width: 100%;
}
footer {
  border-top: 1px solid #414041;
  padding: 15px 0;
}
footer p,
footer a {
  font-size: 16px;
  font-family: 'light';
  margin: 0;
}
footer p,
footer a,
footer p:hover,
footer a:hover,
footer p:focus,
footer a:focus,
footer p:active,
footer a:active {
  color: #414041;
}
footer a {
  text-decoration: none;
  float: right;
}
.nav-container {
  padding-top: 28.5px;
  padding-bottom: 28.5px;
}
.nav-container .btn.btn-aqua {
  font-size: 16px;
}
.navbar-toggle {
  padding: 0;
  margin: 0;
}
.navbar-toggle .icon-bar {
  width: 35px;
  height: 4px;
  margin: 7px 0;
  border-radius: 0;
  background-color: #414041;
}
.top-navbar .nav > li > a {
  color: #414041;
  font-family: 'bold';
  font-size: 16px;
  padding: 10px 20px;
}
.top-navbar .nav > li > a span {
  display: none;
  margin-right: 8px;
  font-size: 11px;
}
.search-ul {
  border-top: 1px solid #B0B0B0;
  border-bottom: 1px solid #B0B0B0;
  margin-top: 15px;
}
.search-ul .top-navbar .nav > li > a {
  text-transform: uppercase;
}
.search-ul .top-navbar .nav > li > a span {
  margin-top: 3px;
  font-size: 16px;
}
.search-ul:hover {
  background: #eee;
}
.logo {
  max-width: 165px;
  height: 98px;
  width: 100%;
  background: url("../img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.ribbon-banner {
  background: #344fa1;
  border-top: 2px solid #cccccc;
  color: white;
  text-transform: uppercase;
  font-size: 31px;
  padding: 10px 0;
  text-align: center;
}
.ribbon-banner span {
  display: block;
}
.ribbon-banner .ribbon-title {
  font-family: 'bold';
}
.ribbon-banner .ribbon-subtitle {
  font-family: 'light';
}
.list-search-container .input-group input {
  width: 50%;
}
.list-search-container .btn.btn-aqua {
  height: 34px;
  padding: 0;
}
.main-search {
  padding: 60px 0;
}
.main-search .main-search-container {
  min-height: 263px;
}
.main-search .main-search-container .form-group {
  margin-bottom: 20px;
}
.footer-advertise .google-advertise {
  padding: 0 12px;
  max-width: 100%;
}
.footer-advertise .square-advertise {
  height: 95px;
  min-height: 95px;
}
.start-item {
  margin-bottom: 20px;
}
.start-item .top-side,
.start-item .bottom-side {
  width: 100%;
  font-size: 24px;
}
.start-item p {
  margin: 0;
}
.start-item .top-side {
  min-height: 50px;
  text-align: center;
  background: #B0B0B0;
  padding: 10px;
}
.start-item .bottom-side {
  background: #cccccc;
  padding: 20px 70px;
}
.start-item .bottom-side .btn.btn-aqua {
  width: 80%;
  margin: 15px auto;
}
.start-item .bottom-side .link {
  color: #414041;
  font-size: 11px;
}
.advertise-company .left-side {
  padding-right: 0;
  overflow: hidden;
}
.advertise-company .left-side img {
  max-width: 100%;
}
.advertise-company .right-side {
  padding-left: 0;
}
.advertise-company .right-side .right-inner {
  width: 100%;
  height: 100%;
  background: #cccccc;
  padding: 10px 20px;
}
.advertise-company .right-side .right-inner p {
  margin: 10px 0;
}
.contact-container .title-side {
  margin-bottom: 20px;
}
.contact-container form {
  width: 70%;
  margin-bottom: 50px;
}
.contact-container .email-info {
  color: #414041;
  font-size: 18px;
  margin: 30px 0;
  text-align: center;
  display: block;
  width: 70%;
}
.welcome-text {
  font-size: 20px;
  font-family: 'semibold';
  color: #231f20;
  margin: 20px 0;
  text-transform: capitalize;
}
.each-message {
  margin-bottom: 30px;
}
.each-message .btn.btn-white {
  margin: 0;
}
.each-message .local-name,
.each-message .local-number,
.each-message .new-message {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.each-message .local-name {
  font-size: 18px;
  border-bottom: 1px solid #B0B0B0;
  font-family: 'extrabold';
}
.each-message .local-number {
  font-size: 14px;
}
.each-message .new-message {
  font-size: 14px;
  font-family: 'semibold';
  color: #ef4332;
}
.each-message .message-date,
.each-message .contacted-message {
  text-transform: uppercase;
}
.each-message .message-from,
.each-message .message-date,
.each-message .contacted-message {
  font-family: 'bold';
}
.each-message .local-number,
.each-message .message-content {
  font-family: 'light';
}
.each-message .contacted-message {
  color: #3b9db0;
  font-size: 12px;
  float: right;
}
.each-message .btn.btn-aqua.btn-aqua-inline {
  font-size: 12px;
  font-family: 'light';
}
.user-data .user-name {
  font-size: 18px;
  font-family: 'bold';
}
.user-data .user-email {
  font-size: 14px;
  font-family: 'bold';
}
.user-data .user-phones {
  font-size: 14px;
  font-family: 'light';
  margin: 20px 0;
}
.user-data .user-change-password {
  font-size: 14px;
  font-family: 'light';
  color: #535353;
  text-transform: uppercase;
  text-decoration: underline;
}
.detail-pagination {
  text-align: center;
  padding: 30px 0;
}
.detail-pagination .indicators {
  color: #273d8c;
  background-color: transparent !important;
  padding: 0px 4px;
  font-size: 24px;
  width: 32px;
  height: 32px;
  margin: 0 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
}
.detail-pagination .indicators,
.detail-pagination .indicators:hover,
.detail-pagination .indicators:focus,
.detail-pagination .indicators:active {
  border: 1px solid #273d8c;
}
.detail-pagination .indicators:focus {
  outline: 0;
}
.detail-pagination .indicators-cont > span {
  display: inline-block;
  vertical-align: middle;
  color: #414041;
  font-size: 14px;
}
.detail-pagination .indicators-cont.pull-left .indicators {
  margin-left: 0;
}
.detail-pagination .indicators-cont.pull-right .indicators {
  margin-right: 0;
}
.detail-pagination .detail-link {
  color: #273d8c;
  font-family: 'semibold';
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: underline;
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
}
.detail-information {
  font-family: 'light';
}
.detail-information span {
  display: block;
  margin: 5px 0;
}
.detail-information span:first-child {
  margin-top: 0;
}
.detail-information .equipment-list {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-column-gap: 50px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 50px;
  /* Firefox */
  column-gap: 50px;
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2;
  font-family: 'light';
  font-size: 13px;
  margin-bottom: 15px;
}
.detail-information .equipment-list li {
  margin-bottom: 5px;
  letter-spacing: 0;
}
.detail-information .detail-price {
  font-family: 'bold';
  font-size: 24px;
}
.detail-information .detail-publish {
  font-size: 13px;
}
.detail-information .detail-publish .detail-date {
  display: inline-block;
}
.detail-information .detail-city {
  text-transform: uppercase;
  margin-top: 10px;
}
.detail-information .detail-city .glyphicon {
  display: inline-block;
}
.detail-information .equipment-header {
  font-family: 'bold';
  margin-top: 15px;
}
.detail-information .btn-aqua {
  padding: 5px 10px;
  font-size: 16px;
  text-transform: none;
  font-family: 'regular';
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
}
.detail-information .btn-aqua span {
  display: inline-block;
}
.detail-information .btn-aqua .glyphicon {
  font-size: 20px;
  vertical-align: top;
  margin: 0;
}
.detail-information .btn-aqua .glyphicon-envelope {
  font-size: 18px;
  margin-right: 5px;
}
.detail-contact {
  border: 0;
}
.detail-contact .header {
  font-family: 'semibold';
  text-transform: uppercase;
  text-decoration: underline;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 15px;
  color: #535353;
}
.detail-contact .go-profile {
  color: #414041;
  font-size: 11px;
  text-decoration: underline;
  font-family: 'semibold';
}
.detail-contact .company-phone,
.detail-contact .company-celphone {
  font-family: 'light';
  font-size: 14px;
  display: block;
}
.detail-contact .company-logo {
  margin: 25px auto;
}
.detail-contact .company-logo img {
  display: inline-block;
  vertical-align: middle;
  width: 68px;
  height: 68px;
  background: black;
}
.detail-contact .company-logo .company-name {
  color: #231f20;
  font-size: 24px;
}
.detail-form {
  border-top: 1px solid #B0B0B0;
  margin: 10px 0;
  padding: 10px 0;
}
.detail-form .navbar-collapse {
  padding: 0;
}
.detail-form > label {
  font-family: 'semibold';
  text-transform: uppercase;
  font-size: 16px;
  width: 100%;
}
.detail-form button[type="submit"] {
  margin: 20px auto 10px;
  padding: 10px;
}
.detail-form .form-group label {
  font-family: 'light';
  font-size: 14px;
}
.detail-form .form-group .form-control {
  border-color: #231f20;
}
.detaileSlider.slider-for {
  margin-bottom: 10px;
}
.detaileSlider.slider-for .slick-slide img {
  width: 100%;
}
.detailSlider-pager img {
  width: 70px;
  height: 45px;
}
.detailSlider-pager .slick-dots {
  margin-top: 20px;
}
.agent-data {
  margin-bottom: 20px;
}
.agent-data .left-side {
  max-width: 35%;
  overflow: hidden;
  max-height: 105px;
}
.agent-data .left-side img {
  width: 90%;
  height: 100%;
}
.agent-data .agent-info {
  width: 65%;
  padding: 5px 0;
}
.agent-data .agent-info > span {
  display: block;
  font-family: 'light';
  font-size: 14px;
  margin: 2px 0;
}
.agent-data .agent-info .agent-name {
  font-family: 'semibold';
  font-size: 16px;
}
/* Range slider */
.slider {
  position: relative;
  text-align: left;
  background-color: #989898;
  height: 0.6em;
  border-radius: 4px;
}
.slider .handle {
  position: absolute;
  z-index: 2;
  width: 1.6em;
  height: 1.6em;
  background-color: #cccccc;
  border-radius: 50%;
}
.handle {
  top: -0.5em;
  margin-left: -0.6em;
}
.slider .range {
  position: absolute;
  z-index: 1;
  display: block;
  font-size: .7em;
  background-color: #3b9db0;
  top: 0;
  height: 100%;
}
.tag {
  font-size: 12px;
  padding: 3px 5px;
  display: inline-block;
  background-color: #3b9db0;
  color: #FFFFFF;
  font-family: 'light';
  border-radius: 5px;
}
.tag.list {
  display: block;
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: bold;
}
.clear-tag {
  font-family: 'light';
  font-size: 12px;
}
.filters-section-header {
  border-bottom: 1px solid #B0B0B0;
  position: relative;
}
.filters-section-header h3 {
  text-transform: uppercase;
  font-family: 'semibold';
  font-size: 18px;
  margin: 10px 0;
}
.filters-section-header .close {
  position: absolute;
  top: 0;
  right: 0;
}
.filters-section-header .glyphicon {
  color: #223080;
}
.filters-section {
  position: relative;
}
.filters-section h4 {
  text-transform: uppercase;
  font-family: 'semibold';
  line-height: 2em;
  font-size: 14px;
  border-bottom: 1px solid #B0B0B0;
  color: #231f20;
}
.filters-section .equipment-filters {
  font-size: 11px;
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2;
}
.filters-section .equipment-filters input {
  margin-right: 3px;
}
.filters-section .input-group {
  position: relative;
  display: inline-block;
  border-collapse: separate;
  width: 93%;
}
@media only screen and (max-width: 767px) {
  .block-xs {
    display: block !important;
  }
  .inline-xs {
    display: inline-block !important;
  }
  header .btn-aqua {
    margin-right: 5%;
    width: inherit;
  }
  .logo {
    min-height: 50px;
    height: inherit;
  }
  .top-navbar {
    float: none !important;
    padding: 0;
  }
  .top-navbar .nav > li {
    float: none;
  }
  .top-navbar .nav > li > a {
    padding: 10px;
    font-size: 16px;
  }
  .top-navbar .nav > li > a span {
    display: inline-block;
  }
  .ribbon-banner {
    font-size: 16px;
  }
  .subtitle-txt h3 {
    font-size: 16px;
  }
  footer p,
  footer a {
    text-align: center;
  }
  footer a {
    display: block;
    float: none;
    text-decoration: underline;
    margin: 10px 0;
  }
  .order-container label {
    font-family: 'light';
    font-size: 11px;
    display: block;
  }
  .order-container select {
    width: 100%;
    font-size: 14px;
  }
  .btn-white-black.highligh-btn {
    width: 95%;
    margin: 0 auto 20px;
    display: block;
    text-align: center;
    float: none !important;
  }
  .list-top-pagination {
    margin: 25px 0;
  }
  .list-top-pagination p {
    margin: 0;
  }
  .list-search-container h3 {
    float: none;
    display: block;
    font-size: 24px;
    font-family: 'semibold';
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
    cursor: pointer;
    border-bottom: 1px solid #3b9db0 !important;
    padding-bottom: 25px;
  }
  .list-search-container h3 span {
    margin-left: 10px;
    font-size: 20px;
  }
  .list-search-container h3 .glyphicon-triangle-bottom {
    display: inline-block;
  }
  .list-search-container h3 .glyphicon-play {
    display: none;
  }
  .list-search-container h3.collapsed .glyphicon-triangle-bottom {
    display: none;
  }
  .list-search-container h3.collapsed .glyphicon-play {
    display: inline-block;
  }
  .list-search-container form {
    border-bottom: 1px solid #3b9db0 !important;
    padding-bottom: 10px;
  }
  .search-form {
    border: 0;
    padding: 0;
  }
  .search-form label {
    display: block;
  }
  .search-form .input-group input {
    width: 50%;
    font-size: 20px;
    height: 46px;
    margin: 0;
    line-height: 0;
  }
  .search-form .form-control {
    font-size: 16px;
  }
  .search-form .btn.btn-aqua {
    font-size: 20px;
  }
  .start-item .bottom-side {
    padding: 20px;
  }
  .start-item .bottom-side .btn.btn-aqua {
    width: 100%;
  }
  .advertise-company .right-side .btn.btn-aqua {
    width: 100%;
    padding: 10px !important;
  }
  .advertise-company .left-side,
  .advertise-company .right-side {
    padding-right: 15px;
    padding-left: 15px;
  }
  .each-message .local-number {
    display: block;
  }
  .each-message .message-from p {
    margin: 0;
  }
  .each-message .message-date {
    margin-top: 20px;
  }
  .each-message .new-message.visible-xs {
    display: inline-block !important;
  }
  .user-data .user-change-password {
    font-size: 18px;
    font-family: 'semibold';
    color: #223080;
  }
  .main-item.full-item .main-item-content .main-item-inner .item-published p {
    margin-top: 6px;
  }
  .main-item.full-item .main-item-content .main-item-inner .item-info {
    font-size: 14px;
  }
  .main-item.full-item .main-item-content .main-item-inner .btn-blue {
    margin: 0;
    font-size: 16px;
    font-family: 'semibold';
  }
}
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 991px) {
  .block-xssm {
    display: block !important;
  }
  .inline-xssm {
    display: inline-block !important;
  }
  .contact-container form,
  .contact-container .email-info {
    width: 100%;
  }
  .nav-container {
    padding-top: 0;
    padding-bottom: 0;
  }
  .list-top-pagination nav {
    float: none !important;
  }
  .detail-information .btn-aqua {
    width: auto;
    min-width: 50%;
    margin: auto;
    display: block;
    margin-bottom: 15px;
  }
  .detail-information .equipment-header {
    margin-top: 5px;
  }
  .detail-information .equipment-list {
    margin-top: 10px;
  }
  .detail-contact {
    margin-top: 30px;
  }
  .detail-contact .header,
  .detail-contact .go-profile {
    display: block;
    text-align: center;
  }
  .detail-contact .company-phone,
  .detail-contact .company-celphone {
    font-size: 12px;
  }
  .detail-form {
    border-bottom: 1px solid #B0B0B0;
  }
  .detail-form > label {
    text-align: center;
  }
  .detail-form .navbar-collapse {
    padding: 0 15px;
  }
  .form-group label {
    font-size: 11px;
  }
  .agent-data .left-side {
    width: 30%;
  }
  .agent-data .agent-info {
    width: 70%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .block-sm {
    display: block !important;
  }
  .inline-sm {
    display: inline-block !important;
  }
  .top-navbar .nav > li > a {
    padding: 10px 5px;
  }
  .nav-container a {
    font-size: 14px !important;
  }
  .nav-container .btn.btn-aqua {
    padding: 5px !important;
  }
  .btn {
    padding: 10px !important;
  }
  .company-logo {
    width: 40%;
  }
}
